.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:absolute;bottom:-40px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 3px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent}.slick-dots li button:hover,.slick-dots li button:focus{outline:none}.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1}.slick-dots li button:before{font-family:verdana;font-size:30px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity:.75;color:black}

.ani {position: relative; z-index: 5}
.ani img {width: 100%;}
.ani .abs {position: absolute;}
/** SEC 1 **/
.h1, .h2, .h3, .logo-text {font-weight: 700;}
.h1 {font-size: 6vw;}
.h2 {font-size: 4.5vw; text-transform: uppercase; padding:2.5vw 0;}
.xd-section {padding:10vw 0; text-align: center;}
#kv {margin-top: 110px; background-color: #e3e3e3; text-align: center;}
    .logo-text {font-size: 12vw; line-height: 1.5;}
    .kv-btn .xd-btn {border: 1px solid #000; font-size:3.5vw; padding: 0.5em 2.5em;}
/** SEC 2 **/
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%}
.sec2 {background-color:#f7f7f7}
.s2-player {position: relative; z-index: 2; overflow: hidden;}
    .s2-video {position: absolute; width: 91.3%; height:89.5%; top:3.8%; right:1.75%; z-index:2; overflow: hidden; border-radius: 2.5vw;}
    .s2-video .embed-container {top:-11%}
    .phone-cover {pointer-events: none; z-index: -1;}
.s2-icon {display: flex; text-align: left; align-items: center;}
    .s2-icon span {font-size: 2vw; display: inline-block;}
    .s2-icon span:nth-child(1) {width:40%; padding:2vw;}
    .s2-icon span:nth-child(2) {width:60%}
    .s2-info {margin: 2vw auto; display: block;}
    .s2-info .items {margin-top: 2vw;}
    .s2-info .items span {display:inline-block; background-color: #fff; box-shadow:0 1px 2px #d2d2d2; font-size:2.5vw; margin: 1.35vw auto; padding: 0.65vw 0; width: 50%; line-height: 1.5;border-radius:1vw}

/** SEC 3 **/
.sec3 {
    background: rgb(247,247,247);
background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 45%, rgba(255,255,255,1) 45%, rgba(245,245,245,1) 60%, rgba(248,248,248,1) 90%);
}
.s3-phone {width: 90%; margin:0 auto}
        .s3-phone .s3-right-1 {width: 16.6%; right:13%; top:6%;z-index: -1;}
        .s3-phone .s3-right-2 {width: 7.32%; right:0; top:12%;z-index: -1}
        .s3-phone .s3-left-1 {width: 16.6%; left:13%; top:6%;z-index: -1}
        .s3-phone .s3-left-2 {width: 7.32%; left:0; top:12%;z-index: -1}
    .s3-info {max-width: 80%; margin: -8% auto 0;}

/** SEC 4 **/
.sec4 {
    background:#f8f8f8 url(/images/active-3/s4-bg-mb.jpg) no-repeat bottom center;
    background-size: 100% auto;
    padding:10vw 0 0;
}
.s4-phone {width: 80%;}
    .s4-phone .s4-hand {display:block;}
    .s4-phone .s4-cam {top:0; width: 100%; left:0;z-index: -1;}
    .s4-phone .s4-flare {z-index: 2; width: 25%; top:-6%; left:27%;}

/** SEC 5 **/
.sec5 {
    padding: 10vw 0 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
}
.s5-phone {width: 100%; position: relative; margin-top:6vw}
.s5-canvas {position: absolute; z-index:1; width:100%; height:100%;top:0;right:0}
    .s5-p1 {display: block; width:48%; margin:2% 0 0 50%; position: relative;}
    .s5-overlay {display: block; width: 100%;}
.s5-detail {width: 51%; position: absolute; z-index: 2; top:2%; left:9%; font-size: 1.85vw;}
    .s5-item {text-align: left; position: relative; margin:2.5vw 0 3.5vw;}
    .s5-item::before {content: ""; position: absolute; top:2vw; left:-7vw; width: 6vw; height: 6vw; background-size: contain; background-repeat: no-repeat; background-position: right center;}
    .s5-dot {
        position: relative;
        height: 1px;
        width: 100%;
        background-color: #0f818a;
    }
    .s5-dot::before, .s5-dot::after {
        content: "";
        position: absolute;
        width: 2vw;
        height: 2vw;
        top:-1vw;
        border-radius: 100%;
    }
    .s5-dot::before {left:0; background-color:#0f818a;}
    .s5-dot::after {right:0; background-color:#fff;}
    .s5-item span {display: inline-block; text-align: right;}
    .s5-item:nth-child(2) {margin-left: 6%;}
    .s5-item:nth-child(3) {margin-left: 35%;}
    .s5-item:nth-child(1)::before {background-image: url(/images/active-3/s5-icon-1.png);}
    .s5-item:nth-child(2)::before {background-image: url(/images/active-3/s5-icon-2.png);}
    .s5-item:nth-child(3)::before {background-image: url(/images/active-3/s5-icon-3.png);}

/** SEC 6 **/
.sec6 {padding: 0;}
.s6-info {position: absolute; z-index:6; left:0; right:0; margin: 0 auto; bottom: 14vw; color:#fff; width: 90%;}
.s6-phone .s6-flare {z-index: 6; width: 25vw; top:6.5%; left:37%; mix-blend-mode: screen;}
/** SEC 7 **/
.sec7 {padding: 0 0 10vw; background-color: #f8f8f8;}
.s7-info {position: relative; z-index: 9; max-width: 85%; margin: 0 auto;}
/** SEC 8 **/
.s8-sl {width: 32%; display: inline-block;}
/** SEC 9 **/
.sec9 {padding:8vw 0 0; background-color: #fafcf7;}
.s9-info {max-width: 90%; margin:0 auto 5vw}
    .m-google img {width: 60%;}
    .s9-phone img {display: block;}
/** SEC 10 **/
.sec10 {background-color: #fbfbfb;}
.s10-info {max-width: 85%; margin:0 auto}
    .s10-icon-box {display:flex; flex-wrap: wrap; justify-content:space-evenly;}
    .s10-icon {width: 45%; font-size: 2.8vw; position: relative;}
    .s10-icon::before {content:""; position: absolute;background-repeat: no-repeat; background-size: contain;}
    .s10-icon:nth-child(1)::before {background-image: url(/images/active-3/s10-icon-1.png);}
    .s10-icon:nth-child(2)::before {background-image: url(/images/active-3/s10-icon-2.png);}
    .s10-icon:nth-child(3)::before {background-image: url(/images/active-3/s10-icon-3.png);}
    .s10-icon:nth-child(4)::before {background-image: url(/images/active-3/s10-icon-4.png);}
.s10-phone .s10-mah {width:65%; top:24%; left:17%}
    
/** SEC 11 **/
.sec11 {padding: 0 0 10vw;}
    .s11-info {max-width: 90%; margin:0 auto; padding-top: 5vw;}
/** SEC 12 **/
.s12-info {padding-bottom: 8vw;}
.s12-info .h2 > * {display: inline-block; vertical-align: baseline; text-align: left;}
.s12-info .h2 span {text-align: right;}
    .vos-logo {width: 30%;}
/** SPEC **/
#thong-so {background:#f8f8f8; padding: 0 4% 20px; color:#000; text-align: left;}
.ts-header {border-bottom: 1px solid #000; padding: 4vw 0 2vw; margin-bottom: 3vw;}
    .ts-phone, .ts-headline {display: inline-block; vertical-align: middle;}
    .ts-phone {width: 7%;}
    .ts-headline {width: 91%; padding-left: 2vw;}
    .xd-btn {border-radius: 100px; border:1px solid #000; color:#000; transition: all ease-in-out 0.3s; font-size: 1vw; font-weight: 700; padding: 0.6em 2em; cursor: pointer;}
    .xd-btn:hover {color:#fff; background: #000;}
.ts-info-box {padding-left: 4vw;}
.ts-info .h2 {font-size: 2.35vw; color:#000; position: relative;}
.ts-info .h2::before {
    content:"";
    position: absolute;
    width: 3vw;
    height: 3vw;
    left:-3.7vw;
    top:1.1vw;
}
.ts-info .xd-txt {font-size: 2.3vw; padding-bottom: 3vw;}
.xd-btn {font-size: 2.2vw;}

.ts-info .h2::before {background-position: top right; background-repeat: no-repeat; background-size: contain;}
.ts-info .h2.ticon-1::before {background-image: url(/images/active-3/sicon-1.png)}
.ts-info .h2.ticon-2::before {background-image: url(/images/active-3/sicon-2.png)}
.ts-info .h2.ticon-3::before {background-image: url(/images/active-3/sicon-3.png)}
.ts-info .h2.ticon-4::before {background-image: url(/images/active-3/sicon-4.png)}
.ts-info .h2.ticon-5::before {background-image: url(/images/active-3/sicon-5.png)}
.ts-info .h2.ticon-6::before {background-image: url(/images/active-3/sicon-6.png)}
.ts-info .h2.ticon-7::before {background-image: url(/images/active-3/sicon-7.png)}
.ts-info .h2.ticon-8::before {background-image: url(/images/active-3/sicon-8.png)}
.ts-info .h2.ticon-9::before {background-image: url(/images/active-3/sicon-9.png)}
.ts-info .h2.ticon-10::before {background-image: url(/images/active-3/sicon-10.png)}
.ts-info .h2.ticon-11::before {background-image: url(/images/active-3/sicon-11.png)}
.ts-info .h2.ticon-12::before {background-image: url(/images/active-3/sicon-12.png)}
.ts-info .h2.ticon-13::before {background-image: url(/images/active-3/sicon-13.png)}
.ts-info .h2.ticon-14::before {background-image: url(/images/active-3/sicon-14.png)}

@media (max-width:1023px) {
    .xd-mb {display: block}
    .xd-pc {display: none}
    .s-logo {font-size: 3vw;}
    .hot-icon img {width: 56px; vertical-align: text-bottom;}
    .main-nav li, .main-nav li a {font-size: 3vw;}
    .main-nav li {margin-right: 2vw;}
    .lang a:first-child {margin-right: 1.5vw;}
/**--------- START HERE ---------**/
.sec2 {padding-left: 8%; padding-right: 8%;}
.sec2 .h2 {margin: 0 -3vw;}
.s2-icons {display: flex; flex-wrap: nowrap; justify-content: space-around; max-width: 95%; margin: 0 auto;}
.s4-phone {margin: 0 auto;}
.s4-info {max-width:80%; margin:0 auto 5vw}
.s5-info {max-width: 80%; margin: 0 auto;}
.s6-info .xd-txt {padding: 0 5vw;}
.sec8 {background-color: #f8f8f8;}
.s8-phone {width: 100%;}
.s8-phone div {width: 32%}
.s8-info {max-width: 85%; margin:0 auto 5vw}
.s8-phone-slide {max-width: 86%; margin: 0 auto;}
    .s8-autobar {max-width: 60%; margin:2vw auto 0; position: relative; display: flex; flex-wrap: nowrap; justify-content: space-between;}
        .s8-autobar .bar {width:30%; height: 3px; background-color: #c5c5c5;}
        .s8-autobar .loader {background-color:#000; height: 3px; width: 0%; display: block;}
.s9-phone img {max-width: 153%; width: 153%; margin-left:-15%;}
.s10-icon {padding-top: 9vw; margin-top: 4vw;}
.s10-icon::before {width:100%; height: 6.5vw;background-position: top center; top:0; left:0;}
.s11-phone {overflow:hidden;}
    .s11-phone img {max-width: 190%; width:190%; position: relative; left:-45%}
.s12-phone img {padding-left: 10%;}
.s12-info .xd-txt {max-width: 80%; padding-top:2vw; margin: 0 auto;}
.ts-headline .h2 {font-size: 3.5vw;}
.ts-info-col:nth-child(1) {width: 55%;}
.ts-info-col:nth-child(2) {width: 43%;}
.ts-info .h2 {padding: 1.5vw 0;}
.ts-info {display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start;}

.slick-arrow {position: absolute; top:45%; z-index: 9; cursor: pointer; width: 4vw; height: 4vw; transform: rotate(45deg); border:3px solid #fff}
.hd-next {border-left-width: 0; border-bottom-width:0; right:2vw}
.hd-prev {border-right-width: 0; border-top-width:0; left:2vw}
.slick-dots {bottom: -5vw;}
.slick-dots li button {display: none;}
.slick-dots li {width:2vw; height:2vw; margin: 0 5px; border-radius: 100%; background:#000; opacity: 0.25;}
.slick-dots li.slick-active {opacity: 1;}
.slick-arrow.slick-disabled {opacity: 0.25;}
.slick-dotted.slick-slider {margin-bottom:0;}
}

@media (min-width:1024px) {
    .xd-mb {display: none}
    .xd-pc {display: block}
    .h1 {font-size: 1.85vw;}
.h2 {font-size: 1.71vw; padding: 0.8vw 0;}
.xd-btn {font-size: 0.9vw;}
.xd-txt {font-size:0.87vw;}
.xd-section {padding: 6vw 0;}
/** SEC 1 **/
#kv {padding:0;}
.s1-info {position: absolute; width: 55%; top:10vw}
.logo-text {font-size: 4.94vw;}
    .kv-btn {margin-top: 2vw;}
    .kv-btn .xd-btn {font-size: 1.2vw; transition: all ease-in-out 0.25s;}
    .kv-btn .xd-btn:hover {background-color:#000; color:#fff}

.s4-info .h2 br {display: none;}

/** SEC 2 **/
.sec2 {display:flex; flex-wrap: wrap; justify-content:center;}
    .s2-player {width: 65%;}
    .s2-icons {width: 20%; margin-left: 2%;}
    .s2-info {width: 60%; margin-top:3vw;}
    .s2-icon span {font-size: 0.8vw}
    .s2-icon span:nth-child(1) {width:40%; padding:1.5vw 1vw;}
    .s2-info .items {margin-top: 1vw;}
    .s2-info .items span {font-size:0.8vw; display: inline-block; margin:0.5vw; padding:0.5vw; width: 30%; border-radius: 0.35vw;}
    .s2-info .items > br {display: none;}
    .s2-video {border-radius: 2.1vw; height: 91.5%; top:3.9%;}

/** SEC 3 **/
.sec3 {
    padding: 0;
background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 45%, rgba(255,255,255,1) 45%, rgba(245,245,245,1) 60%, rgba(255,255,255,1) 90%);
}
.s3-phone {width: 64.6%}
.s3-info {margin-top: -6%;}

/** SEC 4**/
.sec4 {
    background:#fff url(/images/active-3/s4-bg.jpg) no-repeat bottom center;
    background-size: 100% auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 6vw 0 0;
    }
    .s4-phone {order:2; width: 32.8%;}
    .s4-info {order:1; width: 42%; text-align: right; padding: 0 0 20% 5%;}
    .s4-info .xd-txt {padding-left: 15%;}

/** SEC 5 **/
.sec5 {padding:5vw 0 0;}
.s5-phone {width: 69.5%; margin: 3vw 0 -15vw 20vw;}
.s5-detail {font-size: 1vw; width: 49%;}
.s5-item {margin:2.2vw 0 2.5vw}
.s5-dot::before, .s5-dot::after {
    width: 1vw;
    height: 1vw;
    top:-0.5vw;
}
.s5-item span {line-height: 1.5;}
.s5-item::before {
    top: -0.5vw;
    left: -5vw;
    width: 4vw;
    height: 6vw;
}
.s5-item:nth-child(2) {margin-left: 4%;}
.s5-item:nth-child(3) {margin-left: 28%;}
.s5-info {max-width: 30%; text-align: right; position: absolute; bottom: 6vw; right:53vw}
/** SEC 6**/
.sec6 {padding: 0;}
.s6-info {bottom: 0; width: 60%;}
.s6-phone .s6-flare { width: 15vw; top:0; left:42%}
/** SEC 7 **/
.sec7 {padding: 0 0 5vw; background-color: #fff;}
.s7-top {position: absolute; width: 100%; top:0; z-index:9;}
.s7-info {margin-top: -5%; max-width: 65%;}
/** SEC 8 **/
.sec8 {
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.s8-info {width: 30%; text-align: left;}
.s8-phone {width: 56%;}
.s8-phone div {width: 30%; margin-left: 2.5%; background-position:center center; background-repeat: no-repeat; background-size: cover; display: inline-block; vertical-align: top; border-radius: 0.75vw;}
.s8-phone div img {width: 100%;}
.s8-phone .s8-pf-1 {background-image: url(/images/active-3/s8-pt-1.jpg);}
.s8-phone .s8-pf-2 {background-image: url(/images/active-3/s8-pt-2.jpg);}
.s8-phone .s8-pf-3 {background-image: url(/images/active-3/s8-pt-3.jpg); background-position:10% 100%; }
/** SEC 9 **/
.sec9 {padding:4vw 0 0; background-color: #fff;}
.s9-info {display: flex; justify-content: center; align-items: center;}
.m-google {width: 25%;}
.m-google img {width:100%; padding-right: 3vw;}
.m-info {width: 40%; text-align: left; border-left: 1px solid #b5b5b6; padding-left: 3vw;}
.m-info .h2 {padding-top:0;}
/** SEC 10 **/
.sec10 {padding: 0 0 4vw;}
.s10-phone {width: 90%; margin:-7% auto 0}
    .s10-phone .s10-mah {z-index:6; width:50%; top:36%; left:25%}
.s10-info .xd-txt {max-width:60%; margin: 0 auto 3vw;}
.s10-icon-box {flex-wrap: nowrap; width:65%; justify-content: space-between; margin: 0 auto; position: relative; z-index: 1;}
.s10-icon-box::after {content: ""; position: absolute; width: 85%; height:1px; left:0; right:0; margin: 0 auto; top:1vw; background-color: #c2c2c2; z-index: -1;}
.s10-icon {width: auto; font-size: 0.868vw; text-align: left; line-height: 1.5; background-color: #fbfbfb; padding:0 1vw 0 4vw;}
.s10-icon::before {width:2.5vw; height: 2.5vw;background-position:center; top:0; left:1vw;}
/** SEC 11 **/
.sec11 {padding: 0 0 5vw;}
.s11-info {max-width: 38%; padding-top: 2vw;}
/** SEC 12 **/
.sec12 {display: flex; justify-content: space-between; align-items: center;}
.s12-info {width: 48%; padding: 0 7%; text-align: left;}
    .vos-logo {width:31%}
    .s12-info .h2 span {text-align: left;}
.s12-info .xd-txt {text-align: justify;}
.s12-phone {width: 50.57%;}

#thong-so {padding:0 3%}
.ts-header {margin-bottom: 1vw; padding: 1em 0}
.ts-phone {width: 4%;}
.ts-headline {width:94%; padding-left: 1em;}
    .ts-info .xd-txt, .ts-info .h2 {font-size: 1vw;}
    .ts-info .h2::before {width: 1.5vw; height: 1.5vw; left:-2vw; top:0.65vw;}
.ts-info-box {padding-left: 2vw;}
.ts-info-col .xd-txt {padding-bottom: 1vw;}
.ts-info-box, .ts-info {display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start;}
.ts-info {width:45%;}
}

.u-header__section {
    background-color: #000 !important;
}