@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html, body {width:100%; margin:0;padding:0;font-family: "Montserrat", arial; color:#000; font-weight: 400;}
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; outline:none}
ol,ul {list-style: none;}
ul,h1,h2,h3,h4,h5,p,figure {margin: 0; padding: 0;}
img {max-width: 100%; outline:none}
a {text-decoration:none; display:inline-block}
section, .xd-section {clear: both; font-size: 18px; position:relative; overflow: hidden; width:100%; color:#000}

.navigation {width: 100%; background-color: #fff; position: relative; padding: 0 4.84vw; height: 50px;}
.navigation > * {display: inline-block; vertical-align: middle; line-height: 50px;}
    .s-logo {font-size: 19px; font-weight: 700; color:#000}
    .main-nav {float: right;}
    .main-nav li {list-style: none; display: inline-block; margin:0 2.2vw 0 0; padding: 0; line-height: 50px; cursor: pointer; font-weight: 300}
    .hot-icon img {vertical-align: middle;}
    .main-nav li, .main-nav li a {font-size: 14px; color:#000}
    .main-nav li.lang {margin-right: 0;}
    .lang a {font-weight: 700; color: #000; position: relative; line-height:1;}
    .lang a::after {content: ""; position: absolute; width: 100%; height: 1px; bottom: 0; left:0;background-color: #000; opacity: 0; transition: opacity ease-in-out 0.3s;}
    .lang a:hover::after,
    .lang a.active::after {opacity: 1;}
    .lang a:first-child {margin-right: 0.5vw;}
    .nowrap {white-space: nowrap}
    .h1, .h2, .h3 {font-weight: 700;}
    .h1 {font-size: 6vw}
    .h2 {font-size: 4.5vw}
    .h4 {font-size: 3vw;}
    .abs {position: absolute;}
    .rel {position: relative;}

/** Slider **/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block;}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:absolute;bottom:-40px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 3px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent}.slick-dots li button:hover,.slick-dots li button:focus{outline:none}.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1}.slick-dots li button:before{font-family:verdana;font-size:30px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity:.75;color:black}

.slider-box {position: relative;}

.slick-arrow {position: absolute; top:45%; z-index: 9; cursor: pointer; width: 4vw; height: 4vw; transform: rotate(45deg); border:2px solid #000}
.hd-next {border-left-width: 0; border-bottom-width:0; right:4vw}
.hd-prev {border-right-width: 0; border-top-width:0; left:4vw}
.slick-dots {bottom: 5vw; line-height:0;}
.slick-dots li button {display: none;}
.slick-dots li {width:1vw; height:1vw; margin: 0 4px; border-radius: 100%; opacity: 1; background-color: transparent; border:1px solid #fff}
.slick-dots li.slick-active {opacity: 1; background-color:#fff;}
.slick-arrow.slick-disabled {opacity: 0.25;}
.slick-dotted.slick-slider {margin-bottom:0;}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/** Blog Home**/
.sec1 {margin-top:65px}
.slogan {width:53%; margin:0 auto; left:0; right:0; top:20%}
.xd-slide {position: relative;z-index: 1;}
.xd-slide::after {
    content:"";
    position: absolute;
    width: 100%;
    height:50%;
    bottom:0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
}
    .sl-quote {font-weight:600; color:#fff;}
    .sl-quote::before {content: '“';font-size:3.5vw; left:0; top:-1vw; position: absolute}
        .sl-city {font-size:1vw; position: absolute;}
            .sl-city span {display: inline-block; position: relative;}
        .sl-city span::before {
            content:"";
            position: absolute;
            left:-1.25vw;
            width:100%;
            height:100%;
            background:url(images/icon-locate.png) no-repeat left center;
            background-size:contain;
        }
        .sl-note {color:#fff; font-style: italic; position: absolute;}
    .banner-pic img {width:100%;}
/** FEATURE POST **/ 
#posts > .h1 {color:#db0000; text-align: center; padding-bottom:2%;}
#posts {padding:5% 0 2%;}
.cm-box {min-height:3vw}
.featured-item figure {border-radius:0.6vw; overflow: hidden;}
.featured-item .ft-title {text-transform: uppercase; color: #fff; width: 100%; text-align: center; top:50%; transform: translateY(-50%);}
.ft-link {color:#000; text-decoration:none; font-style: italic;}

/** POST LISTING **/
#posts {max-width:92%; margin: 0 auto;}
.tagging-tabs {display:flex; justify-content:space-between; align-items: center; margin-bottom:1%;}
    .tag-tab {width:24.25%; text-align: center; cursor: pointer; border-radius:1vw; background-color:#f8f8f8; padding:1.5vw;}
    .tag-tab .tag-icon {width: 20%; padding-bottom:0.5vw; filter: grayscale(100%);}
    .tag-tab .tag-name {font-weight:700; font-size:1.2vw;}
    .tag-tab .tag-icon, .tag-tab .tag-name {opacity:0.15}
    .tag-tab.active .tag-icon {filter:none; opacity: 1;}
    .tag-tab.active .tag-name {color:#db0000; opacity: 1;}
.post-item > a {width: 100%;}
.post-item .h2 a {color:#484848; text-decoration:none;}
.post-listing {display:none;}
    .post-listing.active {display:block;}
.post-item {border-radius:0.6vw; overflow: hidden; background-color: #f4f4f4; color:#484848; margin-bottom:4vw;}
    .post-cover-pic {width:100%;}
.post-date, .post-item .h2, .short-text, .post-item .comment, .tags-group {max-width:92%; margin:0 auto; display:block; padding-bottom:3.5vw;}
.post-date {display:flex; justify-content: space-between; font-size:3vw;}
.post-item .comment {text-align: right; position: relative; z-index: 1; padding-bottom:0; margin:-2.5vw auto -1vw;}
    .post-item .comment::after {content: ""; position: absolute; pointer-events: none; width:80%; height: 1px; background-color:#c5c5c5; top:40%; left:0; z-index:-1;}
.post-item .comment span {color:#000; font-weight:600; font-size:5vw; display: inline-block; background: #f4f4f4 url(images/icon-comment.png) no-repeat top left; background-size: contain; padding:0.5vw 5vw 4vw 1.5vw;}
.tags-group a {color:#484848; text-transform: uppercase; font-size:3vw;}
.page-wrap {display: block; clear: both; width:100%; text-align: center; margin:2vw auto}
    .page-wrap .page-num {margin:0 auto; display:inline-block; list-style:none; margin:0; padding:0;}
        .page-num li {list-style: none; margin:1vw 0.15vw; padding: 0; display: inline-block; vertical-align: top;}
        .page-num li a {font-size:1vw; line-height:1.5vw; width:1.5vw; height:1.5vw; color:#7a7a7a; font-weight: 600; padding:0; border:1px solid #aaaaaa; background: rgb(254,254,254); background: linear-gradient(180deg, rgba(254,254,254,1) 0%, rgba(223,225,224,1) 100%)}
        .page-num .prev img {transform: rotate(180deg);}
        .page-num .prev a, .page-num .next a {border:none; background: none;}
        .page-num .prev img, .page-num .next img {display:block; width: 100%;}
        .page-num li {opacity:0.3; cursor: pointer; line-height:0;}
        .page-num .prev, .page-num .next, .page-num li.active {opacity:1;}

/*** POST PAGE ****/
.main-wrap {position: relative; transition:all ease-in-out 0.3s; width:100%}
        .main-wrap .full-detail {display: none;}
        .main-wrap .xd-txt {line-height: 1.7;}
#post-content {max-width:92%; margin: 0 auto;}
.post-header {text-align: center; margin-top:65px; padding:0; position: relative;}
.search-box {position: absolute; right:5%; top:50%; transform: translateY(-50%);}
        .search-box input {background:none; width:100%; height:1.35vw; border:none; outline: none;}
        .search-box input::placeholder {color:#ccc}
        .search-box {width:12vw; padding:0 1vw; border:1px solid #000; border-radius:100px;}
            .search-box::after {
                content: "";
                position: absolute;
                right:0;
                top:0;
                width:2vw;
                height:100%;
                background:url(images/icon-search.png) no-repeat center;
                background-size: auto 60%;
            }
.post-slide {position: relative;}
    .post-title {position: absolute; width:50%; left:4%; bottom:8%; z-index:2; color:#fff; font-weight:600; font-size:2vw;}
.post-path ul li {display:inline-block; margin:0; padding-left:0.75vw;}
.post-path ul li a {font-size:1vw; color:#000}
.post-path {padding:1vw 0; max-width:92%; margin:0 auto;}
.post-path ul li * {vertical-align: middle;}
.post-main .h3, .post-main p {margin: 1vw auto}
    .main-wrap img {width:100%;}
.more-content {display:block; position:absolute; width:100%; text-align: center; bottom:0; left:0;background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%); padding:5vw 0 1.5vw;}
.show-more-btn {display:inline-block; padding:0.5vw 3vw; border-radius:10px; border:1px solid #000; color:#000; margin:0 auto; background:#fff; cursor: pointer; font-size:1vw;}
.related-date {display:flex; justify-content:space-between; flex-wrap:nowrap; align-items: flex-start;}
    .related-date a {color:#000}
.tag-clouds, .post-social {margin:2vw auto;}
.tag-clouds a {color:#7f7f7f; background-color:#f5f5f5; padding:0.35em 0.75em; font-size:1vw; margin:0.25em}
.tag-clouds .h2, .tag-clouds a {display: inline-block;}
.post-social a {margin-right:5px;}

.post-related.tab {display:none;}
.post-related.tab.active {display:block}
.related-tab .h2 {display: inline-block; vertical-align: top; text-align: center;padding:1vw 2vw; opacity: 0.25; cursor: pointer;}
.related-tab .h2.active {opacity: 1}
.related-item img {width:100%;}
.click-thru {position: absolute; width:100%; height:100%; z-index:5;}
.gallery-slider {background-color: #000;}
.gl-slide img {display: block;}

@media (max-width:1023px) {
    .xd-mb, .slick-slide img.xd-mb {display: block}
    .xd-pc, .slick-slide img.xd-pc {display: none}
    .xd-txt {font-size:2.8vw;}
    .s-logo {font-size: 3.5vw;}
    .h2 {font-size:4vw;}
    .h3 {font-size:3.5vw;}
    .h4 {font-size: 3vw;}
    .hot-icon img {width: 56px; vertical-align: text-bottom;}
    .main-nav li, .main-nav li a {font-size: 3vw;}
    .main-nav li {margin-right: 2vw;}
    .lang a:first-child {margin-right: 1.5vw;}
/**--------- START HERE ---------**/
.slogan {width:96%;}
.sl-info {position: absolute; left:10%; bottom: 15%; width:80%; z-index:2;}
.sl-quote, .sl-city {font-size: 3vw;}
.sl-city {top:2vw; width: 100%; text-align: center; color:#fff; font-size:3vw;}
.sl-city span::before {left:-4vw}
.sl-note {font-size: 2.5vw; padding:1vw 0;}
.sl-quote {text-align: center;}
.sl-quote::before {font-size:10vw; left:-1.5vw;top:4vw; position: relative; line-height: 1;}
.xd-slide::after {height:40%; background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);}
.sl-note, .sl-city, .sl-quote {
    text-shadow: 0 0 2vw #000;
}
.xd-slide::before {
    content:"";
    position: absolute;
    width: 100%;
    height:15%;
    top:0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
}
/** FEATURE POST **/
.featured-item .h1 {font-size: 5.5vw;}
.featured-item {clear: both; display:block; vertical-align:top; border-bottom:1px solid #ccc; padding:4vw 0; max-width:92%; margin:0 4%;}
.featured-item figure {border-radius:1vw; float:left; width:50%}
    .ft-link {font-size:3vw;}
    .featured-item .xd-txt, .ft-link {padding-left:3vw; display:inline-block; width:50%;}
    .featured-item:nth-child(n+5) {display:none;}
    .load-more {text-align: center; margin:5vw auto;}
        .load-btn {font-size:3vw; padding:2vw 3vw; border:1px solid #000; border-radius:100px; display:inline-block; margin: 0 auto;}
.featured-item::after {content:""; display:block; clear: both;}
.tagging-tabs {flex-wrap: wrap;}
    .tag-tab {width:48%; margin-bottom:4%;}
    .tag-tab .tag-icon {width: 30%;}
    .tag-tab .tag-name {font-size:3vw;}
.post-item {border-radius:2vw; overflow: hidden}
.page-num li a {line-height:4vw; width:4vw; height:4vw; font-size:3vw;}
.banner-slider .slick-dots {bottom:4%;}
.gallery-slider .slick-dots {bottom:3vw;}

.logo-tav-pic {width:25vw;}
.search-box {width: 35vw; font-size:3vw; padding:0 3vw;}
.search-box::after {width:4.5vw;}
    .search-box input {height:5vw;}
#posts > .h1 {padding-bottom:4%;}
.post-header {text-align: left; padding:0; border-bottom:1px solid #ccc;}
.post-path ul li a, .post-path ul li {padding: 1.5vw 0 1vw 0;}
.page-wrap {margin: 5vw auto}
    .post-sidebar .ad {max-width:300px; margin:0 auto}
.post-related .h2 {margin:5vw 0 3vw;}
.post-title {width:92%; font-size:4vw; text-align: center; bottom:35%;}
.post-main .h3, .post-main p {margin:3vw auto;}
.show-more-btn {font-size:3vw; padding: 1vw 8vw;}
.more-content {padding:10vw 0 3vw;}
.related-item {display:flex; justify-content:space-between; align-items:flex-start; margin-bottom:2.5vw;}
.related-item figure {width:43%;}
.related-item .related-info {width:53%;}
.related-info .h4 {font-size:2.8vw;}
.related-info .xd-txt {font-size: 2.2vw; margin:1.5vw 0}
.related-info {border-bottom:1px solid #ccc}
.tag-clouds a {font-size:2vw;}
.tag-clouds .h2 {margin:0 auto}
.post-social {margin:5vw 0 10vw;}
main .h2 {margin:3vw 0}
.related-tab .h2 {padding:2vw 4vw 2vw 0;}
#taken-photos {max-width:92%; margin: 5vw auto; padding-bottom:5vw;}
#taken-photos .h2 {padding-bottom:3vw;}
 .taken-slider .slick-dots {bottom: -4vw;}
 .taken-slider img {padding:0 5vw 1vw;}
.slick-dots li {width:2vw; height: 2vw;}
}

@media (min-width:1024px) {
	.xd-pc, .slick-slide img.xd-pc {display: block}
    .xd-mb, .slick-slide img.xd-mb {display: none}
    .h1 {font-size: 2.6vw;}
    .h2 {font-size: 1.5vw;}
    .h4 {font-size: 0.868vw;}
    .xd-btn {font-size: 0.9vw;}
    .xd-txt {font-size:0.85vw;}
    .slick-dots {bottom: 3vw;}
    .slick-dots li {width:0.5vw; height:0.5vw;}
    .slick-arrow {width: 1.35vw; height: 1.35vw; border:2px solid #000}
    .hd-next {border-left-width: 0; border-bottom-width:0; right:2vw}
    .hd-prev {border-right-width: 0; border-top-width:0; left:2vw}
.sl-note, .sl-city, .sl-quote {text-shadow: 0 0 0.5vw #000}
.sl-quote {position: absolute; top:68%; left:18.5%; width:40%; font-size:1vw; padding-left:2vw; z-index: 2;}
.sl-city {right:19%; top:68%; color:#fff; z-index: 2; text-align: right;}
.sl-note {font-size: 0.7vw; display:inline-block; position: absolute; z-index: 2; left:auto; top:71%; right:19%}
.slider-box .slick-dots {display:inline-block!important; margin: 0 auto; width:auto; border:1px solid #fff; padding:0.3vw 0.4vw; border-radius:90px; left:50%; transform: translateX(-50%);}
.slogan.abs, .xd-slide::after {display:none;}
.feature-slider {max-width:92%; margin: 0 auto; transition:all ease-in-out 0.2s; max-height:55vh; opacity:0;}
.featured-item {padding:0 0.5vw;}
.feature-slider .slick-arrow {top:41%}
.feature-slider .hd-prev {left:-1.35vw}
.feature-slider .hd-next {right:-1.35vw}
.featured-item .xd-txt {padding:1vw 1vw 0}
.ft-link {padding:0.5vw 1vw; font-size:0.85vw;}
.tag-tab {transition: all ease-in-out 0.3s;}
    .tag-tab:hover {background-color:#e9e9e9;}
.post-listing {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1%;
    column-gap: 1%;
}
.post-item {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    margin-bottom:1.5vw;
  }
.post-date {font-size:0.85vw;}
.post-date, .post-item .h2, .short-text, .post-item .comment, .tags-group {padding-bottom:1vw;}
.post-item .comment {margin:0 auto; padding-bottom:0;}
.post-item .comment span {font-size:1.2vw; padding:0.2vw 1vw 1.2vw 0.5vw;}
.tags-group a {font-size: 1vw;}
/*** POST ***/
.logo-tav-pic {width:13vw;}
main {width:100%; margin:0 auto}
.related-wrapper {width:100%}
.post-slider .slick-dots {bottom:-2vw;}
#post-banner {padding-bottom:3vw;}
.post-slider .slick-dots, .post-slider .slick-dots li {border-color:#000}
.post-slider .slick-dots li.slick-active {background:#000;}

.post-main .h3 {font-size:1.6vw;}
.post-related .h2 {margin:2vw 0;}
.related-box {display: flex; justify-content: space-between; flex-wrap:nowrap; align-items: flex-start;}
    .related-item {width:32%}
    .related-info .xd-txt {font-size:0.723vw}
    .related-info > * {margin:0.8vw 0}
    .related-info .related-date {margin-top:1.5vw;}
.tab .related-box {margin-bottom:2vw;}
.related-tab {text-align: center;}
.pix-group {display:flex;flex-wrap: nowrap; justify-content: space-between;}
.pix-group img {width:33%;}
#taken-photos {padding-bottom:5vw;}
#taken-photos .h2 {max-width:92%; margin:2vw auto}
.taken-slider .slick-dots {bottom:-3vw;}
}
.post-slider .slick-arrow {border-color:#fff;}
.taken-slider .slick-dots, .taken-slider .slick-dots li {border-color:#000;}
.taken-slider .slick-dots li.slick-active {background-color:#000;}
.slick-initialized {opacity: 1; max-height:unset;}
    
/** review **/
.rv-footer{background-color:#fff;text-align:center;border-top:1px solid #ededed}.rv-footer img{display:block;margin:0 auto}#primary_header{position:fixed;left:0;top:0;width:100%;height:auto;z-index:20}.u-header__section{position:relative;display:block;width:100%;height:auto;background-color:#000;text-align:center}.header_container{position:relative;display:inline-block;width:auto;height:auto}.logo{position:relative;display:inline-block;vertical-align:middle;top:-5px}.logo a{display:block;line-height:0}.logo img{width:115px;height:auto}.menu_primary{position:relative;display:inline-block;height:65px;line-height:65px}.fs-search-top{position:relative;float:right;width:168px;height:24px;top:24px}.fs-search-top input{display:block;width:100%;height:100%;background-color:transparent;border:1px solid #fff;-webkit-border-radius:20px;border-radius:20px;padding:.2rem 1.875rem .2rem 1rem;color:#fff;font-size:12px}.fs-search-top::after{content:'';position:absolute;right:3px;top:-1px;width:24px;height:24px;background:url(https://cdn-vsmart.cdn.vccloud.vn/files/eu-vi/joy-3/images/icon-search.png) no-repeat center center;background-size:13px auto}.menu{position:relative;display:inline-block;width:auto;height:auto;vertical-align:middle;margin:0 1.25rem}.menu li{position:relative;display:inline-block;width:auto;height:auto;vertical-align:middle}.menu li a{position:relative;display:block;padding:.2rem 1.25rem;font-family:Montserrat;font-size:15px;font-weight:300;color:#fff;line-height:initial}.menu li a::after{content:'';position:absolute;left:18%;bottom:0;width:64%;height:1px;background-color:#fff;opacity:0}.menu_toggler{display:none}@media screen and (max-width:1100px){.u-header__section{padding:0}.header_container{width:100%;height:65px;display:block}.logo{position:absolute;left:5%;top:7px}.menu_primary{display:none}.menu_toggler{position:absolute;display:block;right:0;top:8px;padding:.4em 1em;height:55px;font-size:26px;transition:all .4s linear;z-index:21;cursor:pointer;color:#fff}.hs-icon{font-family:hs-icons!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.hs-icon-hamburger:before{content:"\2630"}.icon-close-menu,.menu_toggler.active .icon-open-menu{display:none}button,input,textarea{padding:0;margin:0;border:none;outline:0;background:0 0;-webkit-appearance:none;font-family:inherit;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}}