
.voice-50kd .fs-area-txt {
    bottom: 3.385vw
}
.is-parameter ul.fs-sort-by-tv.active,
.fs-sort-by-tv.active{
    display: block;
}
.is-parameter ul.fs-sort-by-tv,
.fs-sort-by-tv{
    display: none
}

.fs-nav-sort-by-tv li{
    cursor: pointer;
}
.vsmart-50kd .fs-box{
    z-index: 1;
}

.is-screen{
    background-color:#fdfcfc;
}

.fs-screen-box{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    padding-top:0;
    color:#fff;
    text-align:center;
    z-index:1;
}

.is-screen .fs-area-txt h2{
    font-size:3.281vw;
    font-weight:700;
    font-style:normal;
    color: #000;
}
.is-screen .fs-area-txt p {
    font-size:0.989vw;
    font-weight:500;
    font-style:normal;
}

.is-screen .fs-brief{
    position: absolute;
    left: 50%;
    bottom: 10.833vw;
    width: 52.0833%;
    height: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.is-save{
    padding:0;
}
.is-save .fs-area-txt {
    position: absolute;
    left:50%;
    top:5.5208vw;
    width:66.6666%;
    color: #fff;
    text-align:center;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}
.is-save .fs-area-txt h2{
    font-weight: 600;
    font-size: 3.3333vw;
    font-style: normal;
    margin-bottom: 1.5vw;
    color: #020202;
}
.is-save .fs-area-txt p, .is-screen .fs-brief p {
    font-weight:500;
    font-size:0.989vw;
    font-weight:500;
}
.is-save .fs-area-txt p{
    color: #000;
}

.fs-save-box{
    position: absolute;
    display: block;
    left: 0;
    top: 18vw;
    width: 100%;
    height: auto;
    line-height: 0;
}
.fs-save-box img{
    width:100%;
}

.is-sound{
    padding:4.1vw 0 0 0;
    background-color:#fefefe;
}
.is-sound .fs-area-pic{
    width:60.625%;
}
.is-sound.type-full .fs-area-pic{
    width:100%;
}
.is-sound .fs-area-txt{
    position: absolute;
    width: 41vw;
    height: auto;
    top: 12vw;
    right: 6.8229%;
    text-align: center;
    z-index: 1;
}
.is-sound .fs-area-txt h2{
    font-size: 3.28125vw;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 2.604vw;
    line-height: 1.1;
}
.is-sound .fs-area-txt p{
    font-size:0.989vw;
    font-weight:500;
    font-style:normal;
    padding: 0 8%;
}

.fs-infinity-by-tv-type::after{
    content: '';
    position: relative;
    display: block;
    width:100%;
    height:0;
    clear: both;
}
.fs-infinity-by-tv-type{
    display: block !important;
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height:auto;
    z-index: 0;
    background-color:#fff;
}
.fs-infinity-by-tv-type.active{
    position: relative;
    left:auto;
    top:auto;
    z-index: 1;
}


.byEn .is-sound .fs-area-txt{
    width: 44vw;
    right: 5%;
}
.byEn .is-sound .fs-area-txt h2{
    font-size:3vw;
}

/* Css New */
.vsmart-50kd{
    background-color: #fdfcfc;
}
.vsmart-50kd .fs-area-txt{
    top: 39.5vw;
}
.vsmart-50kd .fs-vsmart-icons li p{
    color: #020202;
}
.vsmart-50kd .fs-vsmart-icons{
   bottom: 4.6875vw;
   margin-top: 0;
}
.voice-50kd .fs-title{
    top: 6.5104vw;
}
.is-voice.voice-50kd .fs-area-txt p{
    color: #020202;
}
.is-voice.voice-50kd .fs-area-txt p.fs-note{
    margin: 0;
}
.voice-50kd .fs-voice-icon{
    margin: 0 auto 22.6vw auto;
}
.by-4k-50kd{
    padding:3.645vw 0 0 0;
}
.by-4k-50kd .fs-4k-box{
    padding: 3.645vw 0 0 0;
}
.processor-50kd .fs-area-txt{
    top: 1.9270vw;
}



/*Animation*/
.is-screen .fs-area-pic {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
}
.is-screen .fs-area-pic.fs-ani{
    animation-name:zezoTop;
    -webkit-animation-name:zezoTop;
    animation-duration:2.5s;
    -webkit-animation-duration:2.5s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;   
}

.fs-save-box{
    -webkit-transition:transform 1s ease-in-out;
    transition:transform 1s ease-in-out;
    -webkit-transform:translateY(100px);
    transform:translateY(100px)
}
.fs-save-box.fs-ani{
    -webkit-transform:none;
    transform:none;
}
.is-sound .fs-box{
    opacity:0;
}
.is-sound.fs-ani .fs-box{
    opacity:1;
    -webkit-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out;
}

.vsmart-50kd .fs-vsmart-icons li .fs-small-pic img.fs-sp{
    display: none;
}




@media screen and (max-width:1100px) {
    .vsmart-50kd .fs-area-txt{
        width: 69.444vw;
        left: 15.092%;
        top: 65vw;
    }
    .vsmart-50kd .fs-area-txt h2{
        font-size: 5.740vw;
    }
    .vsmart-50kd .fs-area-txt p {
        font-size: 3.1481vw;
    }
    .byEn .vsmart-50kd .fs-area-txt p{
        font-size: 2.49vw;
    }

    .vsmart-50kd .fs-vsmart-icons{
        position: relative;
        bottom: auto;
        background-color: #000;
        padding-top: 2.777vw;
    }
 
    .voice-50kd .fs-title{
        top: 14.814vw;
    }
    .voice-50kd .fs-area-txt{
        bottom: 3.7037vw;
    }
    .vsmart-50kd .fs-box{
        z-index: 1;
    }

    .is-screen{
        margin:0;
    }
    .fs-screen-box{
        padding-top: 3.7vw;
    }
    .is-screen .fs-area-txt h2{
        font-size:5.1851vw;
    }
    .is-screen .fs-brief p {
        font-size:1.48148vw;
        line-height:1.4;
        color: #010101;
    }
    .is-screen .fs-brief p br{
        display: none;
    }
    .is-screen .fs-brief{
        width: 68.7962vw;
        bottom: auto;
        top: 19.35vw;
    }

    .is-save{
        padding:0;
    }
    .is-save .fs-area-txt h2{
        font-size: 5.1851vw;
        margin-bottom: 3.14vw;
    }
    .is-save .fs-area-txt p{
        font-size: 1.4814vw;
        line-height: 1.4;
        color: #020202;
    }
    .fs-save-box{
        bottom: 21.5vw;
        top: auto;
    }
    .is-save .fs-area-txt{
        width:84%;
    }

    .is-sound{
        padding:5.925vw 0 0 0;
    }
    .is-sound .fs-area-txt{
        position: relative;
        width:74%;
        margin:0 auto 0 auto;
        top:auto;
        right:auto;
        -webkit-transform:none;
        transform:none;
    }
    .is-sound .fs-area-txt h2{
        font-size:5.1851vw;
        line-height:1.2;
        margin-bottom: 0;
    }
    .is-sound .fs-area-txt p{
        font-size:2.314vw;
        line-height:1.6;
    }
    .is-sound .fs-area-pic{
        width:100%;
    }
    /* .byEn .fs-screen-box {
        padding-top:53vw;
    } */
    .byEn .is-screen .fs-area-txt h2{
        padding:0 5%;   
    }
    .byEn .is-sound .fs-area-txt{
        width:80%;
        right:auto
    }
    .byEn .is-sound .fs-area-txt h2{
        font-size:5.37vw;
    }



    /* Css New */
    .vsmart-50kd .fs-vsmart-icons li .fs-small-pic img.fs-pc{
        display: none;
    }
    .vsmart-50kd .fs-vsmart-icons li .fs-small-pic img.fs-sp{
        display:inline-block;
    }
    .vsmart-50kd .fs-vsmart-icons li p{
        color: #ffffff;
    }
    .vsmart-50kd .fs-vsmart-icons.type-spr-04 li{
        margin: 0 0.5% 2.7777vw 0.5%;
    }
    .voice-50kd .fs-title h2{
        font-size: 5.185vw;
    }
    .voice-50kd .fs-title p {
        font-size: 3.7962vw;
    }
    .is-voice.voice-50kd .fs-area-txt p {
        font-size: 2.6851vw;
        margin-bottom: 1.8518vw;
    }
    .is-voice.voice-50kd .fs-area-txt p.fs-note{
        font-size: 1.574vw;
    }
    .voice-50kd .fs-voice-icon {
        margin: 0 auto 35.1851vw auto;
    }
    .by-4k-50kd {
        padding: 8.796vw 0 0 0;
    }
    .by-4k-50kd h2{
        font-size: 4.259vw;
        margin-bottom: 2.777vw;
    }
    .by-4k-50kd .fs-4k-box {
        padding: 0;
    }
    .by-4k-50kd.is-4k .fs-area-txt {
        width: 77.962%;
    }
    .by-4k-50kd .fs-area-txt p {
        font-size: 1.8518vw;
        margin-bottom: 0;
    }
    .luxurious-50kd{
        background-color: #f8f8f8;
        padding: 8.333vw 0 8.9814vw 0;
    }
    .fs-brief-sound{
        position: absolute;
        width: 80%;
        left: 50%;
        bottom: 1.851vw;
        text-align: center;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .fs-brief-sound p{
        font-size: 1.851vw;
        font-weight: 500;
        font-style: normal;
        color: #000000;
    }
    .processor-50kd .fs-area-txt{
        top: 7.407vw;
    }
    .by-4k-50kd .fs-area-txt br.fs-pc{
        display: block;
    }
}

@media screen and (max-width:520px) {

    .is-screen .fs-brief p, .is-save .fs-area-txt p, .is-voice.voice-50kd .fs-area-txt p.fs-note{
        font-size: 2vw;
    }
    .is-screen .fs-brief {
        top: 17.2vw;
        width: 73%;
    }
    .is-save .fs-area-txt {
        top: 4vw;
    }
    .is-save .fs-area-txt h2 {
        margin-bottom: 1vw;
    }
    .fs-brief-sound p {
        font-size: 1.85vw;
    }
    .is-voice.voice-50kd .fs-area-txt p{
        margin-bottom: 1vw;
    }
    .voice-50kd .fs-voice-icon {
        margin: 0 auto 33vw auto;
    }
    .processor-50kd.is-processor .fs-area-txt p{
        font-size: 2.037vw;
    }
    .vsmart-50kd .fs-area-txt {
        width: 74.0740vw;
        top: 63vw;
        left: 12.4vw;
    }
}
