.is-delicate h2, .is-dolby h2, .is-voice .fs-title h2 {
    font-weight:700;
    font-style:normal;
}
.is-delicate p, .is-dolby p {
    font-weight:500;
    font-style:normal;
}

.is-vsmart{
    background-color:#000;
    padding:0 0 1vw 0;
}
.is-vsmart .fs-area-txt{
    position:absolute;
    left:0;
    top:4vw;
    width:100%;
    text-align:center;
    z-index:1;
}
.is-vsmart .fs-area-txt h2{
    font-size:3.64583333vw;
    font-weight:700;
    color:#010101;
    text-transform:uppercase;
}
.fs-55ke-title{
    width:100%;
    display:block;
    line-height:0;
    margin-bottom:1.2vw;
}
.fs-55ke-title img{
    width:100%;
}
.is-vsmart .fs-area-txt p{
    font-weight:300;
    font-style:normal;
    font-size:1.71875vw;
    color:#010101;
    text-transform:uppercase;
}
.fs-vsmart-light{
    width:100%;
    display:block;
    line-height:0;
    text-align:center;
    margin:-1.1vw 0 2.65625vw 0;
}
.fs-vsmart-light img{
    width:53.125%;
    margin:0 auto;
}
.fs-vsmart-icons{
    position:absolute;
    left:0;
    bottom:2.6vw;
    display:block;
    width:100%;
    height:auto;
    text-align:center;
    font-size:0;
}
.fs-vsmart-icons.type-spr-04{
    margin-top:2.7vw;
}
.is-icons .fs-vsmart-icons.type-spr-04{
    margin:0;
}
.fs-vsmart-icons.type-spr-04 li {
  margin:0 3.5vw;
}
.fs-vsmart-icons li {
    display:inline-block;
    width:auto;
    height:auto;
    vertical-align:top;
    text-align:center;
    margin:0 2.34375vw;
}
.fs-vsmart-icons li .fs-small-pic{
    display:block;
    width:auto;
    height:2.916vw;
    line-height:2.916vw;
    margin-bottom:0.7vw;
}
.fs-vsmart-icons li .fs-small-pic img {
    display:inline-block;
    width:auto;
    height:auto;
    max-height:100%;
    max-width:100%;
    vertical-align:middle;
}
.fs-vsmart-icons li:nth-child(1) .fs-small-pic img{
    height:100%;
}
.fs-vsmart-icons li:nth-child(2) .fs-small-pic img{
    height:92%;
}
.fs-vsmart-icons li:nth-child(3) .fs-small-pic img{
    height:86%;
}
.fs-vsmart-icons li:nth-child(4) .fs-small-pic img{
    height:100%;
}
.fs-vsmart-icons li:nth-child(5) .fs-small-pic img{
    height:62.5%;
}
.fs-vsmart-icons li p{
    font-weight:500;
    /* font-size:0.83333vw; */
    font-size:1.04166vw;
    color:#fff;
}

.is-vsmart-43k3{
    opacity:1!important;
    animation:unset!important;
}


.is-delicate{
    padding:3vw 0 0 0;
    background-color:#fff;
}
.is-delicate .fs-area-pic{
    width:71%;
    left:0;
}
.fs-delicate-box{
    position:absolute;
    right:0;
    top:10vw;
    width:47.8125%;
    z-index:1;
}
.fs-delicate-pic{
    position:relative;
    display:block;
    width:100%;
    height:auto;
    line-height:0;
}
.fs-delicate-pic img{
    width:100%;
}
.fs-delicate-box .fs-area-txt{
    position:absolute;
    top:50%;
    left:5%;
    width:100%;
    height:auto;
    padding:0 11%;
    color:#000;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.is-delicate h2{
    font-size:3.17vw;
    margin-bottom:2vw;
}
.delicate-55ke h2{
    font-size:3.07vw;
}
.is-delicate .fs-area-txt p{
    font-size:0.989vw;
}


.is-dolby{
    background-color:#000;
}

.is-dolby .fs-area-txt {
    position:absolute;
    left:50%;
    bottom:15vw;
    width:78.125%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    color:#fff;
    z-index:1;
    text-align:center;
}
.is-dolby h2{
    font-size:3.17vw;
    margin-bottom:1.25vw;
}
.fs-title-dolby{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    text-align:center;
}
.fs-title-dolby h2{
    color:#000;
}
.is-dolby .fs-area-txt p{
    font-size:0.989vw;
}

.is-voice .fs-title {
    position:absolute;
    left:0;
    top:6vw;
    width:100%;
    z-index:1;
    text-align:center;
}
.is-voice .fs-title  h2{
    font-size:3.17vw;
    margin-bottom:0.2vw;
}
.is-voice .fs-title p{
    font-weight:300;
    font-style:normal;
    font-size:2.447vw;
    color:#e7120d;
}
.fs-type-word{
    position:relative;
    display:inline-block;
    width:auto;
    height:auto;
}
.is-voice .fs-area-txt{
    position:absolute;
    left:50%;
    bottom:2vw;
    width:73%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    color:#fff;
    z-index:1;
    text-align:center;
}
.fs-voice-icon{
    display:block;
    margin:0 auto 2.3vw auto;
    width:8.6vw;
    height:auto;
    line-height:0;
}
.fs-voice-icon img{
    width:100%;
}
.is-voice .fs-area-txt{
    color:#000;
}
.is-voice .fs-area-txt p {
    font-size:1.666vw;
    font-weight:300;
    font-style:normal;
    margin-bottom:1vw;
}
.is-voice .fs-area-txt p span{
    display:inline-block;
    width:6.5vw;
    vertical-align:middle;
    margin:0 0.5vw;
}
.is-voice .fs-area-txt p span img{
    width:100%;
}

.is-voice .fs-area-txt p.fs-note {
    font-weight:500;
    font-style:normal;
    font-size:0.989vw;
}



.is-4k{
    background-color:#000;
    padding:13vw 0 0 0;

}
.is-4k .fs-area-txt{
    width:72%;
    margin:0 auto;
    color:#fff;
    text-align:center;
}
.is-4k h2{
    font-weight:700;
    font-size:2.86vw;
    margin-bottom:1.7vw;
}
.is-4k .fs-area-txt p{
    font-weight:500;
    font-size:0.989vw;
    margin-bottom:0vw;
}

.fs-4k-box{
    display:block;
    width:100%;
}
.fs-play-but{
    position:absolute;
    left:50%;
    bottom:17.4vw;
    width:5.7vw;
    height:auto;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    line-height:0;
    cursor:pointer;
    z-index:2;
}
.fs-play-but img{
    width:100%;
}


.is-luxurious {
    padding:7.3vw 0 5.2vw 0;
    text-align:center;
}

.is-luxurious .fs-area-txt{
    width:70%;
    text-align:center;
    margin:0 auto 2vw auto;
}
.is-luxurious .fs-area-txt p{
    font-size:0.989vw;
    font-weight:500;
    font-style:normal;
}
.is-luxurious h2{
    font-weight:700;
    font-size:2.86vw;
    margin-bottom:1vw;
}
.is-luxurious h2 br{
    display:none
}

.fs-luxurious-slider{
    width:90%;
    margin:0 auto;
}

.fs-luxurious-nav{
    display:inline-block;
    width:auto;
    height:auto;
    margin-top:1.6666vw;
    border:1px solid #483f3b;
    -webkit-border-radius:30px;
    border-radius:30px;
    padding:0.4vw 1vw 0.3vw 1vw;

}
.fs-luxurious-nav .swiper-pagination{
    position:relative;
    display:inline-block;
    vertical-align:middle;
}
.fs-luxurious-nav .swiper-pagination-bullet{
    width:0.625vw;
    height:0.625vw;
    margin:0 0.4vw;
    -webkit-border-radius:50%;
    border-radius:50%;
    background-color:transparent;
    border:1px solid #000;
}
.fs-luxurious-nav .swiper-pagination-bullet-active{
    background-color:#000;
}

.is-luxurious .swiper-button-prev, 
.is-luxurious .swiper-button-next {
    width:1.04vw;
    height:auto;
}
.is-luxurious .swiper-button-prev {
    left:2.5%;
}
.is-luxurious .swiper-button-next {
    right:2.5%;
}
.is-luxurious .swiper-button-prev::before, 
.is-luxurious .swiper-button-next::before {
    content:'';
    position:relative;
    display:block;
    widows:100%;
    height:auto;
    padding-top:190%;
}
.fs-play-toggle {
    position:relative;
    display:inline-block;
    font-size:16px;
    margin:0 3px;
    vertical-align:middle;
    z-index:1;
    cursor:pointer;
    color:#000;
}
.fs-play-toggle .fa-play,
.fs-play-toggle.is-pause .fa-pause {
    display:none;
}
.fs-play-toggle.is-pause .fa-play,
.fs-play-toggle .fa-pause{
    display:block;
}

.is-processor .fs-area-txt{
    position:absolute;
    left:50%;
    top:5vw;
    width:62%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    text-align:center;
    color:#000;
}
.is-processor h2{
    font-weight:700;
    font-size:3.28125vw;
    margin-bottom:1.875vw;
}
.is-processor .fs-area-txt p{
    font-weight:500;
    font-size:0.989vw;
}

.is-infinity{
    padding:7.3vw 0;
}
.is-infinity .swiper-slide{
    background-color:#fff;
}
.is-infinity .swiper-pagination{
    display:none;
}
.fs-infinity-box{
    position:relative;
    left:6.25%;
    width:48%;
    height:auto;
}
.fs-infinity-nav{
    float:left;
    width:10%;
    padding-top:3vw;
}
.fs-infinity-nav li{
    display:block;
    width:100%;
    height:auto;
    padding:5px;
    opacity:0.5;
    border:1px solid rgba(0,0,0,0);
    margin-bottom:5px;
    cursor:pointer;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.fs-infinity-nav li img{
    width:100%;
}

.fs-infinity-nav li.active {
    opacity:1;
    border:1px solid rgba(0,0,0,1);
}
.fs-infinity-slider{
    float:right;
    width:84%;
}


.is-infinity .fs-area-txt{
    position:absolute;
    right:10%;
    top:50%;
    width:31.25%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}

.is-infinity h2{
    font-weight:700;
    font-style:normal;
    font-size:2.13vw;
    margin-bottom:1.4vw;
}
.is-infinity .fs-area-txt p {
    font-weight:500;
    font-style:normal;
    font-size:0.989vw;
    margin-bottom:1.4vw;
}
.is-infinity .fs-area-txt ul {
    margin-bottom:1.4vw;
    font-size:0;
}
.is-infinity .fs-area-txt li {
    display:inline-block;
    vertical-align:top;
    border:1px solid #000;
    -webkit-border-radius:4px;
    border-radius:4px;
    font-weight:500;
    font-style:normal;
    font-size:1.3vw;
    width:10vw;
    height:auto;
    text-align:center;
    padding:0.4vw 0;
    margin-right:0.8vw;
    opacity:0.5;
}
.is-infinity .fs-area-txt li.active{
    opacity:1;
}
.fs-price{
    display:block;
    width:20.6vw;
    font-weight:700;
    font-style:normal;
    font-size:1.71875vw;
    margin-bottom:0.5vw;
    text-align:center;
}
.fs-area-txt ul.one-item {
    width:20.6vw;
}
.fs-area-txt ul.one-item{
	text-align:left;
}
.fs-area-txt ul.one-item li {
    margin:0;
}

.is-infinity .fs-btn{
    background-color:#000;
    width:20.6vw;
    padding:0.78vw 0;
    border:2px solid #000;
    text-align:center;
}
.is-infinity .fs-btn span{
    color:#fff;
}

.is-icons{
    background-color:#000;
    padding:1.76vw 0;
}
.is-icons .fs-vsmart-icons{
    position: relative;
    left:auto;
    bottom:auto;
}

/*Animation*/
.is-vsmart .fs-area-txt, .is-vsmart .fs-vsmart-icons, .is-vsmart .fs-vsmart-light, .is-dolby .fs-area-txt, .is-voice .fs-area-txt, .is-4k .fs-area-txt, .is-processor .fs-area-txt, .fs-title-dolby {
    opacity:0;
}

.is-vsmart .fs-area-txt.fs-ani, .is-vsmart .fs-vsmart-icons.fs-ani, .is-vsmart .fs-vsmart-light.fs-ani, .is-4k .fs-area-txt.fs-ani {
	animation-name:fadeInUp;
	-webkit-animation-name:fadeInUp;
	animation-duration:1.5s;
	-webkit-animation-duration:1.5s;
	animation-delay:0.1s;
	-webkit-animation-delay:0.1s;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}
.is-dolby .fs-area-txt.fs-ani, .is-voice .fs-area-txt.fs-ani, .is-processor .fs-area-txt.fs-ani, .fs-title-dolby.fs-ani{
    animation-name:fadeIn;
	-webkit-animation-name:fadeIn;
	animation-duration:1.5s;
	-webkit-animation-duration:1.5s;
	animation-delay:0.1s;
	-webkit-animation-delay:0.1s;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}

.is-delicate .fs-area-pic{
    -webkit-transition:transform 5s ease-in-out;
    transition:transform 5s ease-in-out;
    -webkit-transform:translateY(70px);
    transform:translateY(70px)
}
.is-delicate .fs-area-pic.fs-ani{
    -webkit-transform:none;
    transform:none;
}

.fs-delicate-box {
    opacity:0;
    -webkit-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out;
}
.fs-delicate-box.fs-ani{
    opacity:1;
}

.is-voice .fs-title .fs-type-word p{
    position:relative;
    display:inline-block;
    padding-right:8px;
    white-space:nowrap;
    overflow:hidden;
}

.is-voice .fs-title.fs-ani .fs-type-word p{
    -webkit-animation:typing 3.5s steps(30, end);
    animation:typing 3.5s steps(30, end);
}
.is-voice .fs-title.fs-ani .fs-type-word p::after{
    -webkit-animation:blink-caret .5s infinite;
    animation:blink-caret .5s infinite;
}
.fs-voice-icon img{
    -webkit-border-radius:50%;
    border-radius:50%;
    box-shadow:0 0 0 rgba(255,255,255,.3);
}
.is-voice.fs-ani .fs-voice-icon img{
    -webkit-animation:shadowAni 1.5s infinite;
    animation:shadowAni 1.5s infinite;
}

.is-4k {
    overflow:hidden;
}
.is-4k .fs-area-pic{
    -webkit-transform:translateY(50px);
    transform:translateY(50px);
    -webkit-transition:transform 1.5s ease-in-out;
    transition:transform 1.5s ease-in-out;
}
.is-4k .fs-area-pic.fs-ani{
    -webkit-transform:none;
    transform:none;
}

.is-processor, .is-luxurious .fs-box, .is-infinity .fs-box{
    opacity:0;
    -webkit-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out;
}
.is-processor.fs-ani, .is-luxurious .fs-box.fs-ani {
    opacity:1
}
.is-infinity.fs-ani .fs-box{
    opacity:1
}

.byEn .is-delicate h2 {
    font-size:3vw;
}
.byEn .is-processor .fs-area-txt{
    width:66%
}

@media screen and (max-width:1100px) {
    .is-vsmart{
        padding:0;
    }
    .is-vsmart .fs-area-txt{
        left:6%;
        top:6vw;
        width:88%;
    }
    .is-vsmart .fs-area-txt h2{
        font-size:7.2222vw;
    }
    .is-vsmart .fs-area-txt p{
        font-size:3.42vw;
    }
    .fs-vsmart-light{
        margin:-1.3vw 0 7vw 0;
    }
    .fs-vsmart-light img{
        width:80%;
    }

    .fs-vsmart-icons li{
        width:30%;
        margin:0 1.5% 2.3vw 1.5%;
    }
    .fs-vsmart-icons li .fs-small-pic{
        height:5.5vw;
        line-height:5.5vw;
        margin-bottom:1.2vw;
    }
    .fs-vsmart-icons li p{
        /* font-size:1.57vw; */
        font-size:2.25vw;
    }
    .fs-vsmart-icons.type-spr-04 li{
        width:40%;
        margin:0 0.5% 4vw 0.5%;
    }
    .fs-vsmart-icons.type-spr-04{
        margin-top:2.7vw;
    }
    .fs-delicate-box{
        position:relative;
        right:auto;
        top:auto;
        width:96%;
        -webkit-transform:none;
        transform:none;
        float:right;
    }
    .is-delicate h2{
        font-size:5.5vw;
    }
    .is-delicate .fs-area-txt p {
        font-size:2.03vw;
    }

    .is-delicate .fs-area-pic{
        clear:both;
        width:100%;
        left:auto;
    }
    .is-luxurious h2 br{
        display:block;
    }

    .is-dolby .fs-box{
        margin-top:-13vw;
    }
        
    .is-dolby .fs-area-txt {
        bottom:18vw;
        width:76%;
    }
    .fs-title-dolby{
        top:5vw;
    }
    .is-dolby h2{
        font-size:5.5vw;
        margin-bottom:4.2vw;
    }
    .is-dolby .fs-area-txt p{
        font-size:2.03vw;
    }
    .is-voice {
        padding:0;
        background-color:#000;
    }
    .is-voice .fs-title {
        width:94%;
        top:19vw;
        left:3%;
    }
    .is-voice .fs-title  h2{
        font-size:5.5vw;
        margin-bottom:0;
    }
    .is-voice .fs-title p{
        font-size:4.6vw;
    }
    
    .fs-voice-icon{
        width:15vw;
        margin:0 auto 7vw auto;
    }
    .is-voice .fs-area-txt p span{
        width:11vw;
    }
   
    .is-voice .fs-area-txt{
       width:90%;
       bottom:10vw;
    }
    .is-voice .fs-area-txt p {
        font-size:2.963vw;
    }
    .is-voice .fs-area-txt p.fs-note {
        font-size:2.03vw;
    }
    .is-voice .fs-area-txt p.fs-note br{
        display:none;
    }
    .is-4k .fs-area-txt{
        width:90%;
    }
    .is-4k h2{
        font-size:5.5vw;
        margin-bottom:3.9vw;
    }
    .is-4k .fs-area-txt p{
        font-size:2.03vw;
        margin-bottom:7vw;
    }
    .is-4k .fs-area-txt p br{
        display:none;
    }
    .fs-play-but{
        width:10vw;
    }

    .is-luxurious{
        padding:15vw 0;
    }
    .is-luxurious .fs-area-txt{
        width:90%;
        margin:0 auto 7vw auto;
    }
    .is-luxurious h2{
        font-size:5.3vw;
        
    }
    .is-luxurious .fs-area-txt p{
        font-size:2.03vw;
    }
    .fs-luxurious-slider{
        width:84%;
    }
    .fs-luxurious-nav{
        padding:1vw 3vw;
        margin-top:7vw;;
    }
    .fs-luxurious-nav .swiper-pagination-bullet{
        width:1.8vw;
        height:1.8vw;
        margin:0 1vw;
    }
    .fs-luxurious-nav .swiper-pagination-bullet-active{
        background-color:#000;
    }
    .is-luxurious .swiper-button-prev, 
    .is-luxurious .swiper-button-next {
        width:2.7vw;
    }
        
    .is-processor .fs-area-txt{
        top:0;
        width:85%;
    }
    .is-processor h2{
        font-size:5.5vw;
        margin-bottom:2.6vw;
    }
    .is-processor .fs-area-txt p{
        font-size:2.037vw;
    }

    .is-infinity .fs-area-txt {
        position:relative;
        right:auto;
        top:auto;
        width:80%;
        margin:0 auto;
        transform:none;
        -webkit-transform:none;
    }
    .is-infinity h2{
        font-size:5.5vw;
        text-align:center;
        margin-bottom:3vw;
    }
    .is-infinity .fs-area-txt ul{
        margin-bottom:6vw;
    }
    .fs-area-txt ul.one-item{
        width:100%;
        text-align:center;
    }
    .is-infinity .fs-area-txt li{
        width:31.32vw;
        font-size:4.16vw;
        padding:1.4vw 0;
        margin:0 0 0 4vw;
    }

    .fs-infinity-box{
        float:none;
        width:76%;
        left:auto;
        margin:0 auto;
    }
    .fs-infinity-slider{
        width:100%;
        float:none;
    }
    .fs-infinity-nav {
        float:none;
        padding:0;
        width:100%;
        height:auto;
        padding:0 5%;
        margin-bottom:5vw;
    }
    .fs-infinity-nav li{
        display:inline-block;
        width:23%;
        margin:0 1% 0 0;
        border:1px solid rgba(0,0,0,1);
        padding:2%;
    }
    .fs-infinity-nav li:last-child{
        margin:0;
    }

    .is-infinity .fs-area-txt.fs-sp{
        text-align:center;
    }
    .is-infinity .fs-area-txt p{
        font-size:2.03vw;
        margin-bottom:4vw;
        text-align:center;
    }
    .fs-price{
        padding:0;
        text-align:center;
        font-size:4.6vw;
        margin-bottom:4vw;
        width:100%;
        text-align:center;
    }
    .is-infinity .fs-btn{
        padding:2.2vw 0;
        width:50vw;
    }
    
    .is-infinity .fs-btn span{
        font-size:3.2vw;
    }
    .is-icons{
        padding:6vw 0 4vw 0;
    }

    .byEn .is-delicate h2{
        font-size:5.5vw;
    }
    .byEn .is-processor .fs-area-txt{
        width:90%;
    }
    
}

@media screen and (max-width:520px) {
    .fs-play-toggle{
        font-size:12px;
    }
    .fs-infinity-nav li{
        margin:0 1% 0 0;
    }

    .is-delicate .fs-area-txt p,
    .is-dolby .fs-area-txt p,
    .is-voice .fs-area-txt p.fs-note,
    .is-4k .fs-area-txt p,
    .is-processor .fs-area-txt p,
    .is-infinity .fs-area-txt p,
    .is-luxurious .fs-area-txt p{
        font-size:2.3vw;
    }
    .is-processor .fs-area-txt{
        width:88%;
    }
    .fs-vsmart-icons li p{
        font-size:1.7vw;
    }
    .fs-vsmart-icons.type-spr-04 li p {
        font-size:2.3vw;
    }

    .is-screen .fs-area-txt h2 {
        font-size:5.37vw;
    }
    .is-screen .fs-area-txt p {
        font-size:2.31vw;
    }

    .fs-luxurious-nav .swiper-pagination-bullet{
        width:10px;
        height:10px;
    }

}



@media screen and (max-width:390px) {
    .fs-infinity-nav li{
        width:22%;
    }
}

