@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", arial;
    color: #fff;
    font-weight: 400;
    background-color: #030022;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none
}

ol, ul {
    list-style: none;
}

ul, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    outline: none
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

section {
    clear: both;
    font-size: 18px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 6vw;
}

.navigation {
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 0 4.84vw;
    height: 50px;
}

    .navigation > * {
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
    }

.s-logo {
    font-size: 19px;
    font-weight: 700;
    color: #000
}

.main-nav {
    float: right;
}

    .main-nav li {
        list-style: none;
        display: inline-block;
        margin: 0 2.2vw 0 0;
        padding: 0;
        line-height: 50px;
        cursor: pointer;
        font-weight: 300
    }

.hot-icon img {
    vertical-align: middle;
}

.main-nav li, .main-nav li a {
    font-size: 14px;
    color: #000
}

    .main-nav li.lang {
        margin-right: 0;
    }

.lang a {
    font-weight: 700;
    color: #000;
    position: relative;
    line-height: 1;
}

    .lang a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0;
        transition: opacity ease-in-out 0.3s;
    }

    .lang a:hover::after,
    .lang a.active::after {
        opacity: 1;
    }

    .lang a:first-child {
        margin-right: 0.5vw;
    }

.nowrap {
    white-space: nowrap;
}

.mg-center {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.h1, .h2 {
    font-weight: 700;
    position: relative;
    z-index: 5;
}

.h1 {
    font-size: 7vw;
}

.h2 {
    font-size: 5vw;
    text-transform: uppercase;
    padding: 4vw 0;
}

.xd-txt {
    font-size: 2.5vw;
    line-height: 1.5;
}

.vd-btn {
    font-size: 2.5vw;
}

.xd-section .desc {
    max-width: 80%;
    position: relative;
    z-index: 5;
}

/** SEC 1 **/
#kv {background: linear-gradient(165deg, rgba(1,145,183,1) 0%, rgba(1,145,183,0) 40%);}
    .s1-phone img {width: 100%;}
    .s1-phone .abs {position: absolute; top:0; left:0}
    .s1-slogan {position: absolute; width: 100%; text-align: center; top:21%}
    .video-btn {position: absolute; text-align: center; width: 100%; bottom: 10%; z-index: 2;}
        .vd-btn {font-weight:600; background:url(/images/live/icon-play.png) no-repeat center right; background-size: contain; padding: 0.15em 2em 0.15em 0;
    }
    .s1-icons {display: flex; max-width: 54%; flex-wrap:wrap; align-items: flex-start; justify-content: center;}
        .s1-icon {width: calc(100%/6); text-align: center; padding: 0 1.5%; font-size: 1.8vw;}
        .s1-icon img {width: 43.88%;}
/** SEC 2 **/
.s2-phone {width:60%; margin-top:6vw; z-index: 1;}
.s2-phone img {width: 100%;}
.s2-phone .abs {position: absolute; top:0; left:0;}
.s2-phone::after {
    content:"";
    position: absolute;
    top: -10%;
    left:-45%;
    width: 170%;
    height: 120%;
    background: radial-gradient(ellipse at center, rgba(0,145,213,1) 0%, rgba(0,145,213,0.40379901960784315) 20%, rgba(0,145,213,0) 50%);;
    z-index: -1;
    }
/** SEC 5 **/
.s5-phone img {width: 100%;}

/** SEC 6 **/
.s6-phone {width:90%; margin-top:7vw;}
.s6-mode {max-width: 35%; text-align: center; margin-top:1%;}
.s6-phone img, .s6-icons img {width: 100%}
.s6-mode span {display: inline-block; vertical-align: middle;}
.s6-mode span:nth-child(2) {width: 35%; margin:0 3%; height: 1px; background: #35334e;}
.s6-icons {width:86%; margin-top: 4vw;}
.s6-phone-canvas {position: absolute; top:0; left:0}
.s6-phone-pic {opacity: 0;}

/** SEC 7 **/
.s7-phone {padding-bottom: 0; margin-top: 5vw;}
.s7-phone img {width: 100%}
.s7-phone-pic {opacity: 0;}
.s7-phone-canvas {position: absolute;top:0; left:0}

/** SEC 8 **/
.s8-phone {width: 100%; margin: 4vw 0 0 -2vw;}
.sec8 {margin-top: -18%;}
.s8-phone img {width: 100%;}
.s8-flare {position: absolute; width: 100%; top:0; left:0; z-index: 2;}

/** SEC 10 **/
.s10-phone img {width: 100%;}
.s10-phone-pic {opacity: 0;}
.s10-phone-canvas {position: absolute; top:0; left:0}

/** VOS slide **/
#vos {padding-bottom: 0;}
.vos-ui-box {margin-top:5%;}
.vos-ui-slide {width:40.988%; text-align: center; position: relative; margin:0 auto; z-index: 4;}
    .vos-phone {display: block; margin: 0 auto; width: 100%;}
    .vos-ui {position: absolute; z-index: -1;}
    .vos-ui.layer1 {top:7%; width: 35.77%}
    .vos-ui.layer1.left {left:-9.5%}
    .vos-ui.layer1.right {right:-9.5%}
    .vos-ui.layer2 {top: 10%; width: 32.565%;}
    .vos-ui.layer2.left {left:-41%}
    .vos-ui.layer2.right {right:-41%}
    .vos-ui.layer1 {
    -webkit-box-shadow: 0 0 3em 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 3em 0 rgba(0,0,0,0.5);
    }
/** SPEC **/
#thong-so {background:#f8f8f8; padding: 0 4% 0px; color:#16181a}
.ts-header {border-bottom: 1px solid #000; padding: 4vw 0 2vw; margin-bottom: 3vw;}
    .ts-phone, .ts-headline {display: inline-block; vertical-align: middle;}
    .ts-phone {width: 5%;}
    .ts-headline {width: 88.5%; padding-left: 2vw;}
    .xd-btn {border-radius: 100px; border:1px solid #000; color:#000; transition: all ease-in-out 0.3s; font-size: 1vw; font-weight: 700; padding: 0.6em 2em; cursor: pointer;}
    .xd-btn:hover {color:#fff; background: #000;}
.ts-info-col {margin:1vw 0;}
.ts-info-box {padding-left: 4vw;}
.ts-info .h2 {font-size: 2.35vw; color:#000; position: relative;}
.ts-info .h2::before {
    content:"";
    position: absolute;
    width: 3vw;
    height: 3vw;
    left:-3.7vw;
    top:1.3vw;
}
.ts-info .xd-txt {font-size: 1.75vw;}
.ts-info {display: flex; flex-direction: column; flex-wrap:wrap; align-content: space-between;}
.xd-btn {font-size: 2.2vw;}

.ts-info .h2::before {background-position: top right; background-repeat: no-repeat; background-size: contain;}
.ts-info .h2.ticon-1::before {background-image: url(/images/live/sicon-1.png)}
.ts-info .h2.ticon-2::before {background-image: url(/images/live/sicon-2.png)}
.ts-info .h2.ticon-3::before {background-image: url(/images/live/sicon-3.png)}
.ts-info .h2.ticon-4::before {background-image: url(/images/live/sicon-4.png)}
.ts-info .h2.ticon-5::before {background-image: url(/images/live/sicon-5.png)}
.ts-info .h2.ticon-6::before {background-image: url(/images/live/sicon-6.png)}
.ts-info .h2.ticon-7::before {background-image: url(/images/live/sicon-7.png)}
.ts-info .h2.ticon-8::before {background-image: url(/images/live/sicon-8.png)}
.ts-info .h2.ticon-9::before {background-image: url(/images/live/sicon-9.png)}
.ts-info .h2.ticon-10::before {background-image: url(/images/live/sicon-10.png)}
.ts-info .h2.ticon-11::before {background-image: url(/images/live/sicon-11.png)}
.ts-info .h2.ticon-12::before {background-image: url(/images/live/sicon-12.png)}
.ts-info .h2.ticon-13::before {background-image: url(/images/live/sicon-13.png)}
.ts-info .h2.ticon-14::before {background-image: url(/images/live/sicon-14.png)}

/** POPUP **/
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.popup {display:none; width: 100%; height: 100%; z-index: 90; background-color:rgba(0,0,0,0.5);position: fixed; top:0;}
.popup.active {display: block;}
    .popup-wrap {position: relative; top:50%; left:50%; transform: translate(-50%,-50%); width: 50%; z-index: 99;}
    .popup-outer {position: fixed; width: 100%;height: 100%; z-index: 91; top:0}
    .cover-phone {
        position:absolute; top:-4.5%; left:-12%; display:block; margin:0 auto;
        max-width: 124%; width:124%; z-index:-1;
    }
    .popup-close {position: absolute; top:120px; right:2vw; z-index: 99;}
    .popup-close span {display:inline-block; line-height:1; font-size: 5vw; font-weight: 300; transform: rotate(45deg); cursor: pointer;}

@media (max-width:1023px) {
    .xd-mb {display: block; margin: 0 auto;}
    .xd-pc {display: none;}
    section {padding-bottom: 20vw;}
    .s-logo {font-size: 3.5vw;}
    .hot-icon img {width: 56px; vertical-align: text-bottom;}
    .main-nav li, .main-nav li a {font-size: 3vw;}
    .main-nav li {margin-right: 2vw;}
    .lang a:first-child {margin-right: 1.5vw;}
/**--------- START HERE ---------**/
#kv {margin-top: 110px; padding-top: 10vw;}
#vos {padding-bottom: 4vw;}
.s1-slogan {top:15%}
.s1-icons {max-width: 82%;}
.s1-icon {width: calc(100%/3); margin-bottom:3vw;}
.s3-phone {width: 100%; overflow: hidden;}
.s3-phone img {max-width:174%; width:174%; left:-39%; position: relative;}
.s4-phone {width: 100%; overflow: hidden;}
.s4-phone img {max-width:116%; width:116%; left:-11%; position: relative;}
.s6-mode {max-width: 58%;}
    .s6-mode span {font-size: 1.8vw;}
    .s6-mode span:nth-child(2) {width: 38%;}

.break-col {display: none;}
.break-col-mb {
    flex-basis: 100%;
    width: 0;
  }
.ts-info-col {width: 47%;}
.ts-info {height: 125vw;}
.ts-info .h2 {padding: 1.5vw 0;}
.popup-wrap {width: 76%;}
.popup-close span {font-size: 12vw;}
}

@media (min-width:1024px) {
    .xd-mb {display: none;}
    .xd-pc {display: block;}
    .h1 {font-size: 3.3vw;}
    .h2 {font-size: 2.6vw; padding: 0.5em 0;}
    .xd-txt {font-size: 1vw;}
    .s1-icons {flex-wrap: nowrap; max-width: 75%;}
    .s1-icon {font-size: 0.8vw;}
    .vd-btn {font-size: 1.2vw;}
    .s1-phone {width:53%}
.sec2 {padding-bottom: 0;}
    .s2-phone {width:18%; margin-top:4vw;}
    .s2-phone img:nth-child(1) {left:-5%; position: relative;}
        .s2-phone .abs {top:-15%; left:10%}
    .s3-phone-pic {width:68%; margin-top:-1.5%;}
.sec4 .desc {max-width:60%;}
    .s4-phone-pic {width:65%; margin:-1.5% auto}
    .s5-bg-pic {margin:-8% auto}
    .s6-phone {width: 45%; margin-top: 2vw;}
    .s6-mode span {font-size:0.85vw;}
    .s6-icons {width: 30%; margin-top:1vw;}
    .s6-icons {width: 30%;}
    .s7-phone {margin-top: 1vw}
    .sec8 {margin-top:-25%;}
    .s8-phone {width: 40%; margin: -5vw auto 0}
    .s9-phone-pic {width:55%; margin:-4% auto -8%}
.sec10 {padding-bottom:3vw;}
    .s10-phone {width: 30%; margin-top:0;}
    .vos-ui-box {margin:2vw auto 0}
    .vos-ui-slide {width:28%;}
.sec2 .desc, .sec6 .desc, .sec9 .desc,.sec11 .desc {max-width: 50%}
.sec3 .desc, .sec5 .desc, .sec7 .desc {max-width: 58%}
.sec10 .desc {max-width: 53%;}
.sec8 .desc {max-width: 46%;}
.sec3 .h2 br, .sec4 .h2 br, .sec6 .h2 br, .sec8 .h2 br, .sec9 .h2 br, .sec11 .h2 br {display: none;}
#kv {padding-top:30px;background: linear-gradient(165deg, rgba(1,145,183,1) 0%, rgba(1,145,183,0) 55%)}
.video-btn:hover{opacity:0.75}
#thong-so {padding:0 3%;}
.ts-header {margin-bottom: 1vw; padding: 1em 0}
.ts-phone {width: 2%;}
.ts-headline {width:94%; padding-left: 1em;}
    .ts-info .xd-txt, .ts-info .h2 {font-size: 1vw;}
    .ts-info .h2::before {width: 1.5vw; height: 1.5vw; left:-2vw; top:0.35vw;}
.ts-info-box {padding-left: 2vw;}
.ts-info-col {width:22%; margin:0.5vw 0}
.break-col {
    flex-basis: 100%;
    width: 0;
  }
.break-col-mb {display: none;}
.ts-info {height: 53vw;}
}

@media (min-width:1366px) {
    .ts-info {height: 44vw;}
}
.sec3 {padding-bottom: 0;}

/** review **/

.u-header__section {
    background-color: #000 !important;
}