@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", arial;
    color: #000;
    font-weight: 400;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none
}

ol, ul {
    list-style: none;
}

ul, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    outline: none
}

a {
    text-decoration: none;
    display: inline-block
}

section {
    clear: both;
    font-size: 18px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%
}

    section > img {
        width: 100%
    }

.navigation {
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 0 4.84vw;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

    .navigation > * {
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
    }

.s-logo {
    font-size: 19px;
    font-weight: 700;
    color: #000
}

.main-nav {
    float: right;
}

    .main-nav li {
        list-style: none;
        display: inline-block;
        margin: 0 2.2vw 0 0;
        padding: 0;
        line-height: 50px;
        cursor: pointer;
        font-weight: 300
    }

.hot-icon img {
    vertical-align: middle;
}

.main-nav li, .main-nav li a {
    font-size: 14px;
    color: #000
}

    .main-nav li.lang {
        margin-right: 0;
    }

.lang a {
    font-weight: 700;
    color: #000;
    position: relative;
    line-height: 1;
}

    .lang a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0;
        transition: opacity ease-in-out 0.3s;
    }

    .lang a:hover::after,
    .lang a.active::after {
        opacity: 1;
    }

    .lang a:first-child {
        margin-right: 0.5vw;
    }

.nowrap {
    white-space: nowrap;
}

.h2, .h3 {
    font-weight: 700;
}

.h1 {
    font-size: 5vw;
    font-weight: 600;
}

.h2 {
    font-size: 3.6vw;
    text-transform: uppercase;
    padding: 2vw 0;
}

.xd-txt {
    font-size: 2.4vw;
    line-height: 1.5;
}

.mg-center {
    margin: 0 auto;
    text-align: center;
}

.ani img {
    width: 100%;
}

.ani .abs {
    position: absolute
}
/** SEC 1 **/
.sec1 {
    margin-top: 110px;
}

.s1-info {
    position: absolute;
    max-width: 96%;
    top: 15vw;
    left: 0;
    right: 0;
}

    .s1-info .h1 {
        white-space: nowrap;
    }

.kv-logo {
    font-size: 14vw;
    font-weight: 700;
    position: relative;
    display: inline-block;
    line-height: 1;
}

    .kv-logo .flare {
        position: absolute;
        top: 2%;
        left: 31%;
        width: 29%;
    }

.s1-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8vw;
}

.s1-icon {
    font-size: 2.4vw;
    position: relative;
    padding-left: 11vw;
    text-align: left;
    margin: 0 2.5vw;
    font-weight: 500;
}

    .s1-icon::before {
        content: "";
        position: absolute;
        width: 10vw;
        height: 10vw;
        left: 0;
        top: -1.8vw;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .s1-icon:nth-child(1)::before {
        background-image: url(/images/star-3/s1-icon-1.png);
    }

    .s1-icon:nth-child(2)::before {
        background-image: url(/images/star-3/s1-icon-2.png);
    }

    .s1-icon:nth-child(3)::before {
        background-image: url(/images/star-3/s1-icon-3.png);
    }

.s1-phone {
    width: 77%;
    position: absolute;
    bottom: 7.5%;
    left: 19.5%
}

    .s1-phone .s1-phone-overlay {
        width: 100%;
    }

.s1-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0
}
/** SEC 2 **/
.cam-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.cam-top-pic {
    -webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,0.3) );
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.3));
    width: 100%;
}

.sec234 {
    background: url(/images/star-3/s234-bg.jpg) no-repeat top center;
    background-size: cover;
    padding-top: 20vw;
    z-index: 5;
}

.s2-phone {
    width: 80%
}

.s2-info {
    max-width: 96%;
}

.s2-icon {
    text-align: center;
    font-size: 2.2vw;
}

.sec3 {
    padding-top: 15vw;
}

.s3-phone {
    width: 80%;
    position: relative;
}

    .s3-phone img.abs {
        top: 0;
        left: 0
    }

.s3-info {
    text-align: center;
}

.s3-colors {
    text-align: center;
}

.s3-color {
    position: relative;
    padding-left: 5.5vw;
    text-align: left;
}

    .s3-color::before {
        content: "";
        width: 4vw;
        height: 4vw;
        top: -0.5vw;
        left: 0;
        position: absolute;
        border-radius: 100%;
        border: 1px solid #fff
    }

    .s3-color:nth-child(1)::before {
        background: rgb(157,16,9);
        background: linear-gradient(180deg, rgba(157,16,9,1) 0%, rgba(236,72,62,1) 50%, rgba(236,53,45,1) 100%);
    }

    .s3-color:nth-child(2)::before {
        background: rgb(9,88,131);
        background: linear-gradient(180deg, rgba(9,88,131,1) 0%, rgba(53,160,212,1) 50%, rgba(33,146,204,1) 100%);
    }

    .s3-color:nth-child(3)::before {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(93,93,93,1) 100%);
    }

.sec4 {
    padding-top: 20vw;
    position: relative;
}

.s4-cam {
    width: 70%;
    position: relative;
}

    .s4-cam span {
        font-size: 2.2vw;
        display: inline-block;
        width: 100%;
        position: absolute;
        right: 4%;
        text-align: right;
    }

    .s4-cam .s4-t1 {
        top: -10.5%;
    }

    .s4-cam .s4-t2 {
        top: 13%;
    }

.s4-phone-pic {
    display: block;
}

.s5-view {
    position: relative
}

    .s5-view .s5-vector {
        top: 18%;
        left: 0;
        width: 100%;
        z-index: 2;
    }

.sec6 {
    padding-top: 14vw;
    text-align: center;
}

.s6-screen span {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    font-size: 14vw;
    background: rgb(239,88,169);
    background: linear-gradient(180deg, rgba(239,88,169,1) 0%, rgba(233,147,46,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec7 {
    padding-top: 15vw;
}

.sec9 {
    margin-top: 5vw;
}

.s9-info-1, .s9-phone-1, .s9-info-2, .s9-phone-2 {
    position: absolute;
}

.s9-phone-1 {
    width: 43%;
    top: 0;
    left: 3%
}

.s9-phone-2 {
    width: 62%;
    bottom: 0;
    right: -6%
}

.s9-info-1 {
    width: 47%;
    top: 0;
    left: 47%
}

.s9-info-2 {
    width: 48%;
    bottom: 13%;
    left: 5%
}

    .s9-info-2 .xd-txt {
        padding-right: 9%;
    }

.sec10 {
    padding-bottom: 10vw;
}

.s10-info .xd-txt, .sec11 .xd-txt {
    padding: 0 8%;
}

/** VOS slide **/
#vos {
    padding-bottom: 8vw;
}

.vos-ui-box {
    margin: 5% auto 5%;
}

.vos-ui-slide {
    width: 38%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    z-index: 4;
}

.vos-phone {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.vos-ui {
    position: absolute;
    z-index: -1;
}

    .vos-ui.layer1 {
        top: 11.5%;
        width: 35.77%
    }

        .vos-ui.layer1.left {
            left: -9.5%
        }

        .vos-ui.layer1.right {
            right: -9.5%
        }

    .vos-ui.layer2 {
        top: 16.5%;
        width: 31.5%;
    }

        .vos-ui.layer2.left {
            left: -39%
        }

        .vos-ui.layer2.right {
            right: -39%
        }

    .vos-ui.layer1.left {
        -webkit-box-shadow: -2vw 0 2vw -2vw rgba(0,0,0,0.2);
        box-shadow: -2vw 0 2vw -2vw rgba(0,0,0,0.2);
    }

    .vos-ui.layer1.right {
        -webkit-box-shadow: 2vw 0 2vw -2vw rgba(0,0,0,0.2);
        box-shadow: 2vw 0 2vw -2vw rgba(0,0,0,0.2);
    }

.vos-phone {
    -webkit-filter: drop-shadow(0 0 1vw rgba(0,0,0,0.3) );
    filter: drop-shadow(0 0 1vw rgba(0,0,0,0.3));
}
/** SPEC **/
#thong-so {
    background: #f8f8f8;
    padding: 0 4% 20px;
    color: #000;
    text-align: left;
}

.ts-header {
    border-bottom: 1px solid #000;
    padding: 4vw 0 2vw;
    margin-bottom: 3vw;
}

.ts-phone, .ts-headline {
    display: inline-block;
    vertical-align: middle;
}

.ts-phone {
    width: 7%;
}

.ts-headline {
    width: 91%;
    padding-left: 2vw;
}

.xd-btn {
    border-radius: 100px;
    border: 1px solid #000;
    color: #000;
    transition: all ease-in-out 0.3s;
    font-size: 1vw;
    font-weight: 700;
    padding: 0.6em 2em;
    cursor: pointer;
}

    .xd-btn:hover {
        color: #fff;
        background: #000;
    }

.ts-info-box {
    padding-left: 4vw;
}

.ts-info .h2 {
    font-size: 2.35vw;
    color: #000;
    position: relative;
}

    .ts-info .h2::before {
        content: "";
        position: absolute;
        width: 3vw;
        height: 3vw;
        left: -3.7vw;
        top: 1.1vw;
    }

.ts-info .xd-txt {
    font-size: 2.3vw;
    padding-bottom: 3vw;
}

.xd-btn {
    font-size: 2.2vw;
}

.ts-info .h2::before {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
}

.ts-info .h2.ticon-1::before {
    background-image: url(/images/star-3/sicon-1.png)
}

.ts-info .h2.ticon-2::before {
    background-image: url(/images/star-3/sicon-2.png)
}

.ts-info .h2.ticon-3::before {
    background-image: url(/images/star-3/sicon-3.png)
}

.ts-info .h2.ticon-4::before {
    background-image: url(/images/star-3/sicon-4.png)
}

.ts-info .h2.ticon-5::before {
    background-image: url(/images/star-3/sicon-5.png)
}

.ts-info .h2.ticon-6::before {
    background-image: url(/images/star-3/sicon-6.png)
}

.ts-info .h2.ticon-7::before {
    background-image: url(/images/star-3/sicon-7.png)
}

.ts-info .h2.ticon-8::before {
    background-image: url(/images/star-3/sicon-8.png)
}

.ts-info .h2.ticon-9::before {
    background-image: url(/images/star-3/sicon-9.png)
}

.ts-info .h2.ticon-10::before {
    background-image: url(/images/star-3/sicon-10.png)
}

.ts-info .h2.ticon-11::before {
    background-image: url(/images/star-3/sicon-11.png)
}

.ts-info .h2.ticon-12::before {
    background-image: url(/images/star-3/sicon-12.png)
}

.ts-info .h2.ticon-13::before {
    background-image: url(/images/star-3/sicon-13.png)
}

.ts-info .h2.ticon-14::before {
    background-image: url(/images/star-3/sicon-14.png)
}

img.xd-pc, img.xd-mb, .s10-phone img {
    width: 100%;
}

@media (max-width:1023px) {
    .xd-mb {
        display: block
    }

    .xd-pc {
        display: none
    }

    .s-logo {
        font-size: 3.5vw;
    }

    .hot-icon img {
        width: 56px;
        vertical-align: text-bottom;
    }

    .main-nav li, .main-nav li a {
        font-size: 3vw;
    }

    .main-nav li {
        margin-right: 2vw;
    }

    .lang a:first-child {
        margin-right: 1.5vw;
    }
    /**--------- START HERE ---------**/
    .sec234 {
        clip-path: circle(100% at 52% 26.5%);
        background-size: 100% 100%;
    }

    .s2-phone, .s3-phone, .s4-phone {
        margin: 0 auto
    }

    .s2-info, .s3-info {
        text-align: center;
        margin: 0 auto;
    }

    .s2-icons {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 4vw auto;
    }

    .s2-icon {
        width: 33%;
    }

        .s2-icon img {
            width: 15vw;
            padding-bottom: 2vw;
        }

    .s2-info .xd-txt {
        padding: 0 5%;
    }

    .s3-phone {
        margin-top: 8vw;
    }

    .s3-info .xd-txt {
        padding: 0 9%;
    }

    .s3-colors.xd-pc {
        display: none;
    }

    .s3-colors.xd-mb {
        display: flex;
        justify-content: space-around;
        max-width: 95%;
        margin: -7vw auto 0
    }

    .s3-color {
        font-size: 2.5vw;
    }

    .s4-info-box {
        margin: 0 auto;
        max-width: 90%
    }

    .s4-info {
        padding-left: 50%;
        margin-top: -17%;
    }

    .s4-phone {
        width: 65%;
        margin: 5vw auto 0
    }

    .sec234 {
        z-index: 2;
    }

    .sec5 {
        z-index: 1;
        margin-top: -9vw;
    }

    .s5-info {
        max-width: 85%;
        margin: 3vw auto;
        text-align: center;
    }

        .s5-info .h2 br {
            display: none
        }

    .s6-phone {
        max-width: 100%;
        overflow: hidden;
    }

    .s6-phone-pic {
        max-width: 130%;
        width: 130%;
        position: relative;
        left: -16%
    }

    .s6-screen {
        padding-bottom: 3vw;
    }

    .s6-info {
        margin-top: -14%;
        max-width: 85%;
        position: relative;
        z-index: 2;
    }

    .s7-info {
        max-width: 100%;
        margin: 0 auto 3vw;
        text-align: center;
    }

        .s7-info .xd-txt {
            padding: 0 5%;
        }

        .s7-info .h2 br {
            display: none;
        }

    .s7-vector {
        width: 50%;
        margin: 0 auto -4vw
    }

    .s8-info {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        max-width: 92%;
        margin: 3vw auto 10vw
    }

        .s8-info .h2 {
            white-space: nowrap;
        }

        .s8-info .xd-txt {
            padding: 1.8vw 0 0 3vw;
            text-align: justify;
        }

    .s8-pt {
        padding-top: 0.5vw;
    }

    .s9-phone-2 img {
        transform: rotate(-11deg);
    }

    .s10-phone {
        width: 100%;
        overflow: hidden;
    }

        .s10-phone img {
            max-width: 236%;
            width: 236%;
            position: relative;
            left: -68%
        }

    .s10-info {
        margin-top: -10%;
        z-index: 2;
        position: relative;
    }

    .vos-ui-slide {
        width: 52%
    }

    .ts-headline .h2 {
        font-size: 3.5vw;
    }

    .ts-info-col:nth-child(1) {
        width: 53%;
    }

    .ts-info-col:nth-child(2) {
        width: 43%;
    }

    .ts-info .h2 {
        padding: 1.5vw 0;
    }

    .ts-info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media (min-width:1024px) {
    .xd-pc {
        display: block
    }

    .xd-mb {
        display: none
    }

    .h1 {
        font-size: 2.2vw;
    }

    .h2 {
        font-size: 2.05vw;
        padding: 1vw 0;
    }

    .xd-btn {
        font-size: 0.9vw;
    }

    .xd-txt {
        font-size: 0.86vw;
    }

    .s1-info {
        max-width: 50%;
        top: 5vw;
        width: 50%;
    }

    .kv-logo {
        font-size: 6.7vw;
    }

    .s1-icon {
        font-size: 0.94vw;
    }

    .s1-icons {
        margin-top: 2.5vw;
        padding-left: 5vw;
    }

    .s1-icon {
        padding-left: 4.4vw;
        font-size: 0.85vw;
        margin: 0 0.5vw
    }

        .s1-icon br {
            display: none;
        }

        .s1-icon::before {
            width: 4vw;
            height: 4vw;
            top: -1.3vw
        }

    .s1-phone {
        width: 52.7%;
        position: absolute;
        bottom: 2%;
        left: 26%
    }

    .sec234 {
        padding-top: 12vw;
        clip-path: circle(117% at 50% 0%);
    }

    .sec2 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    .s2-phone {
        width: 41.3%
    }

    .s2-info {
        width: 45%;
        padding: 5% 0 0 8%;
    }

    .s2-icon {
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 0.8vw;
        margin-top: 2vw;
    }

        .s2-icon img {
            width: 8vw;
            padding-right: 0.5vw;
        }

        .s2-icon > br {
            display: none;
        }

    .sec3 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2vw;
    }

    .s3-phone {
        width: 39%;
        order: 2
    }

    .s3-info {
        width: 55%;
        padding: 0 6% 8%;
        order: 1
    }

    .s3-colors.xd-mb {
        display: none;
    }

    .s3-colors.xd-pc {
        display: flex;
        justify-content: space-around;
        max-width: 75%;
        margin: 2vw auto 0
    }

    .s3-color {
        font-size: 0.8vw;
        padding-left: 1.6vw;
    }

        .s3-color::before {
            width: 1.2vw;
            height: 1.2vw;
            top: -0.1vw
        }

    .sec4 {
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .s4-phone {
        order: 1;
        width: 41.25%;
        margin-right: 3%;
    }

    .s4-info-box {
        order: 2;
        width: 36%;
        margin: 5vw 0 0 6%
    }

    .s4-cam {
        width: 80%;
    }

        .s4-cam span {
            font-size: 0.8vw;
        }

    .s4-info .xd-txt {
        padding-right: 9%;
    }

    .sec5 {
        z-index: 1;
        margin-top: -11vw;
    }

    .s5-info {
        color: #fff;
        width: 26%;
        position: absolute;
        left: 57%;
        top: 39%;
        z-index: 4;
    }

    .sec6 {
        padding-top: 6vw
    }

    .s6-screen {
        margin-bottom: -1.2%;
    }

        .s6-screen span {
            font-size: 6.5vw;
            padding-right: 6%;
        }

    .s6-info {
        width: 80%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 12%;
    }

        .s6-info .h2 br {
            display: none;
        }

        .s6-info .xd-txt {
            padding: 0 15%;
        }

    .sec7 {
        padding-top: 0;
    }

    .s7-info {
        position: absolute;
        width: 30%;
        top: 24%;
        left: 11%
    }

    .s7-vector {
        width: 67%;
        margin-bottom: -5%;
    }

    .s8-pt {
        padding: 0.45vw;
    }

    .s8-info {
        position: absolute;
        width: 23%;
        top: 5%;
        left: 47.5%
    }

        .s8-info .h2 {
            white-space: nowrap;
            margin-right: -3%;
        }

    .sec9 {
        margin-top: 8vw
    }

    .s9-info-2 .xd-txt {
        padding-right: 5%;
    }

    .s9-phone-1 {
        width: 28.33%;
        top: 0;
        left: 25.5%
    }

    .s9-phone-2 {
        width: 38.54%;
        bottom: -2%;
        right: 16%
    }

    .s9-info-1, .s9-info-2 {
        width: 28%;
    }

    .s9-info-1 {
        top: 5%;
        left: 55%
    }

    .s9-info-2 {
        bottom: 20%;
        left: 14%
    }

    .sec10 {
        padding-bottom: 5vw
    }

    #vos {
        padding-bottom: 5vw;
    }

    .sec11 .h2 br {
        display: none;
    }

    .sec11 .desc {
        max-width: 60%;
    }

    .vos-ui-box {
        margin: 5% 0 2%;
    }

    #thong-so {
        padding: 0 3%
    }

    .ts-header {
        margin-bottom: 1vw;
        padding: 1em 0
    }

    .ts-phone {
        width: 4%;
    }

    .ts-headline {
        width: 94%;
        padding-left: 1em;
    }

    .ts-info .xd-txt, .ts-info .h2 {
        font-size: 1vw;
    }

        .ts-info .h2::before {
            width: 1.5vw;
            height: 1.5vw;
            left: -2vw;
            top: 0.65vw;
        }

    .ts-info-box {
        padding-left: 2vw;
    }

    .ts-info-col .xd-txt {
        padding-bottom: 1vw;
    }

    .ts-info-box, .ts-info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .ts-info {
        width: 49%;
    }

    .ts-info-col {
        width: 46%;
    }
}


.u-header__section {
    background-color: #000 !important;
}