/* SLICK */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:absolute;bottom:-40px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 3px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent}.slick-dots li button:hover,.slick-dots li button:focus{outline:none}.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1}.slick-dots li button:before{font-family:verdana;font-size:30px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity:.75;color:black}

/** KV SEC 1 **/
#kv {position: relative; margin-top: 115px}
#kv::after {content:""; position: absolute; top:0; left: 0; z-index: -1;width:100%; height:100%; background: #000 url(/images/star-4/kv-bg.jpg) no-repeat top center; background-size: 100% 100%;}
.kv-wrap {padding: 3% 0;}
.kv-phone,.kv-info {text-align: center;}
.bao-hanh {text-align: center; margin-top: -11%;}
.bh-list img {padding-right: 0.85em; width: 10vw;}
.bh-list:first-child {padding-right: 2em;}
.bh-list, .ts-list {display: inline-block; white-space: nowrap; color: #fff; font-weight: 700;font-size: 2.1vw;}
.bh-list > *,
.ts-list > * {vertical-align: middle}
.ts-list {padding: 0.65em 0; font-weight: 500;}
.ts-list:nth-child(odd) {width:53%;}
.ts-list img {padding-right: 1em; width: 9vw;}
.ts-list sup {padding-bottom: 0.9em; display: inline-block;}
.kv-thongso {border-radius: 10px; border:2px solid #bfbdbd; background-color: rgba(0,0,0,0.5); text-align: left; padding: 1em 0 1em 2em;}
.kv-slogan {padding-bottom: 1em;}

.h2 {font-size: 4vw; font-weight: 700; padding:2vw 0;}
.xd-txt {padding-bottom: 2vw; font-size: 2.2vw; line-height: 1.5;}

#thong-tin {background:#000;}
.s2-info {position:absolute; text-align: center; color:#fff; width: 85%; margin: 0 auto; top:3%; left:0; right:0}
.s3-info {position:absolute; width: 100%; height: 100%;top:0;left:0}
    .s3-info .mah3500 {text-align: center; position: absolute; top:8%; left: 0; width: 95%;}
        .mah-pic {width:50.337%;}
    .s3-info .icons {position: absolute; width: 100%; text-align: center; bottom: 4%; left:0}
    .s3-phone {position: absolute; width:17.657%; top:50%; left:50%; transform: translate(-50%, -50%);}
    .overlay {position: absolute; top:0; left:0}
    .s3-sac, .s3-pin {position: absolute}
    .s3-sac {text-align: right; left:5%; width: 30%;}
    .s3-pin {right:5%; width: 30%;}
    .s3-info .icons img {width: 90%;}
    .s3-phone {width: 40%;}
    .mah-pic {width:80%}

/** SEC 4 **/
#camera {background: rgb(242,242,242);
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 50%, rgba(240,240,240,1) 100%);
}
    .cam-truoc {background: url(/images/star-4/s4-bg1.jpg) center no-repeat; background-size: cover;}
    .cam-sau {background: url(/images/star-4/s4-bg2.jpg) center no-repeat; background-size: cover;}
    .cam-truoc-pic, .cam-sau-pic {display: block; margin: 0 auto;}
    .s4-title {
        font-weight: 700;
        font-size: 4.5vw;
        background: rgb(120,120,121);
        background: linear-gradient(180deg, rgba(120,120,121,1) 0%, rgba(120,120,121,0.15) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1px;
    }
    .cam-sau-box .s4-title {margin-bottom: -1%;}
.slick-arrow {position: absolute; top:45%; z-index: 9; cursor: pointer; width: 2vw; height: 2vw; transform: rotate(45deg)}

.slick-dots {bottom: 2vw;}
.slick-dots li button {display: none;}
.slick-dots li {width:2vw; height:2vw; margin: 0 5px; border-radius: 100%; background:#000; opacity: 0.25;}
.slick-dots li.slick-active {opacity: 1;}
.slick-arrow.slick-disabled {opacity: 0.25;}
.slick-dotted.slick-slider {margin-bottom:0;}

#van-tay {background-color: #f4f4f4;}
.s5-info {position: absolute; width: 100%;height: 100%; top:0; left:0}
.s5-phone {position: absolute; width:27%; top:50%; left:40%; transform: translate(-50%, -50%);}
.s5-vantay, .s5-mausac, .s5-logo, .s5-finger {position: absolute;}
.phone-color span {display: inline-block}
.phone-color span:nth-child(odd) {width: 50%;}
.phone-color span::before {content: ""; border:1px solid #222222; position: absolute; left:0; top:0; border-radius: 100%;}
.phone-color span:nth-child(1)::before {
    background: rgb(202,177,125);
    background: linear-gradient(50deg, rgba(202,177,125,1) 20%, rgba(242,217,167,1) 55%);
}
.phone-color span:nth-child(2)::before {
    background: #7dcaad;
    background: linear-gradient(50deg, #67b59e 20%, #7dcaad 55%);
}
.phone-color span:nth-child(3)::before {
    background: #222;
    background: linear-gradient(50deg, #222 20%, #272727 55%);
}
.phone-color span:nth-child(4)::before {background: #fff}
.phone-color span:nth-child(5)::before {
    background: #51a2c7;
    background: linear-gradient(50deg, #3b92bb 20%, #51a2c7 55%);
}
/** SEC 6 **/
.s6-info {position: absolute; top:22%; width: 70%; left:15%; text-align: center; color:#fff}
    .s6-phone {margin-bottom: -3%;}
    .func-list {display: inline-block; width: 25%;}
    .func-list img {width: 32.435%; padding-bottom: 3px;}

/** SEC 7 **/
#vos {padding: 3% 0; background: url(/images/star-4/s7-bg.jpg) no-repeat center top; background-size: cover;}
.s7-info {text-align: center; max-width: 71%; margin: 0 auto;}
.s7-info small {font-weight: 400; font-size:0.7em;}
.s7-ui-box {padding: 2% 0;}
.s7-ui-slide {width:17.762%; text-align: center; position: relative; margin:0 auto; z-index: 4;}
    .s7-phone {display: block; margin: 0 auto; width: 100%;}
    .s7-ui {position: absolute; z-index: -1;}
    .s7-ui.layer1 {top:15%; width: 53.255%;}
    .s7-ui.layer1.left {left:-42.5%}
    .s7-ui.layer1.right {right:-42.5%}
    .s7-ui.layer2 {top: 18%; width: 44.675%;}
    .s7-ui.layer2.left {left:-87%}
    .s7-ui.layer2.right {right:-87%}

.cua-hang {
    position: relative;
    max-width:80%;
    margin: 0 auto; 
    text-align: center;
    padding: 0 2%;
    z-index: 2;
}
.cua-hang::after,
.cua-hang::before {
    content: "";
    position: absolute;
    width: 31%;
    height: 87%;
    top:6.5%;
}
.cua-hang::after {
    right:0;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border:1px solid #d1d1d1;
    border-left: none;
    z-index: -1;
}
.cua-hang::before {
    left:0;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border:1px solid #d1d1d1;
    border-right: none;
    z-index: -1;
}
.rt-box {display:flex; flex-wrap: wrap; align-items: center; justify-content: center; padding: 2% 0;}
    .rt-box a {width: 25%; text-align: center; padding: 1vw 3vw;}
.cua-hang .xd-txt big {font-weight: 500;}

#thong-so {background:#f8f8f8; padding:0 3% 20px 4.5%;}
.ts-header {border-bottom: 1px solid #000; padding: 1em 0;}
    .ts-phone, .ts-headline {display: inline-block; vertical-align: middle;}
    .ts-phone {width: 5%;}
    .ts-headline {width:94%; padding-left: 1em;}
    .xd-btn {border-radius: 100px; border:1px solid #000; color:#000; transition: all ease-in-out 0.3s; font-size: 1vw; font-weight: 700; padding: 0.6em 2em; cursor: pointer;}
    .xd-btn:hover {color:#fff; background: #000;}
.ts-info-col1, .ts-info-col2 {display: inline-block; vertical-align: top;}
.ts-info-col2 {padding-left: 5vw;}
.ts-info .h2 {font-size: 1vw; color:#000; position: relative;}
.ts-info .h2::before {
    content:"";
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    left:-2vw;
    top:0.75vw;
}
.ts-info .h2.ticon-1::before {background: url(/images/star-4/s8-icon-1.png) top right no-repeat; background-size: contain;}
.ts-info .h2.ticon-2::before {background: url(/images/star-4/s8-icon-2.png) top right no-repeat; background-size: contain;}
.ts-info .h2.ticon-3::before {background: url(/images/star-4/s8-icon-3.png) top right no-repeat; background-size: contain;}
.ts-info .h2.ticon-4::before {background: url(/images/star-4/s8-icon-4.png) top right no-repeat; background-size: contain;}
.ts-info .h2.ticon-5::before {background: url(/images/star-4/s8-icon-5.png) top right no-repeat; background-size: contain;}
.ts-info .h2.ticon-6::before {background: url(/images/star-4/s8-icon-6.png) top right no-repeat; background-size: contain;}
.ts-info .h2.ticon-7::before {background: url(/images/star-4/s8-icon-7.png) top right no-repeat; background-size: contain;}

/*** 20 JUN ***/
.s1-phone {position: relative; z-index: 3;}
    .s1-p-left, .s1-p-right {position: absolute; width: 100%; height: 100%; top:0; margin: 0 auto; left:0; right:0; z-index: -1;}
.s2-ani {position: absolute; bottom:0; left:0;}
.s2-info {z-index: 4;}

/** 25 jun **/
.kv-btn {margin-top: 2vw;}
.kv-btn .xd-btn {font-size:1.29vw; color:#fff; font-weight: 600; border: 1px solid #fff;
    padding: 0.5em 3em}
#thong-tin .xd-note {font-size: 70%; position: absolute; left:3vw; bottom: 2vw; color:rgba(255,255,255,0.7)}


@media (max-width:1023px) {
    .xd-mb {display: block; margin: 0 auto;}
    .xd-pc {display: none;}
    .s-logo {font-size: 3.5vw;}
    .hot-icon img {width: 56px; vertical-align: text-bottom;}
    .main-nav li, .main-nav li a {font-size: 3vw;}
    .main-nav li {margin-right: 2vw;}
    .lang a:first-child {margin-right: 1.5vw;}
    .kv-thongso {padding: 1.5vw 0 1vw 3vw; max-width: 98%; margin: 0 auto; border-width: 1px;}
    .kv-wrap {padding: 10% 3.5vw;}
    .kv-phone-pic {width: 82%;}
    .kv-slogan {margin:0 auto; text-align: center;}
    .slogan-pic {width: 74%}
    .bao-hanh {margin:-12% auto 5%;}
    #kv::after {width: 120%; transform: scaleX(-1); left:-10%; background-size: 100% 85%;}
    #thong-tin {padding-top: 5vw;}
    .s3-sac {bottom: 19%; left:3%; width: 38%;}
    .s3-pin {top: 20%; right:3%; width: 44%;}
    .s3-pin-info br {display: none;}
    .pin-pic {width: 11vw;}
    .s3-info .h2 {padding: 0 0 1.5vw; font-size: 3.2vw; white-space: nowrap;}
    .s3-info .icons {bottom: 8%;}
    .ts-list:nth-child(odd) {width:50%;}
    .ts-list img {padding-right: 0.5em; width: 7vw;}
    .bh-list, .ts-list {font-size: 2vw;}

/** Sec4 **/
    .cam-truoc-pic {width:64%; padding:2% 10% 0 0;}
    .cam-sau-pic {transform: translateX(-8vw);}
    .cam-1-pic {width: 40%; margin: 0 auto;}
    .cam-2-pic {width: 30%; margin: 0 auto;}
    .s4-info {text-align: center; max-width: 100%; margin: 0 auto;}
        .s4-info .h2 {font-size: 4vw;}
        .s4-info .xd-txt {max-width: 80%; margin: 0 auto;}
        .cam-truoc, .cam-sau {padding-top: 8%;}
        .s4-title {font-size: 8vw}
        .cam-sau .s4-phone {overflow: hidden;}
        .cam-truoc .s4-phone {position: relative;}
        .cam-truoc .s4-phone:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 15vw;
            bottom:0;
            left:0;
            background: rgb(254,254,254);
background: linear-gradient(0deg, rgba(246,246,246,0.8) 0%, rgba(246,246,246,0) 100%);
        } 
    .slick-dots {bottom: 3.5vw;}
    .slick-arrow {width: 3.5vw; height: 3.5vw; border:2px solid #000}
/** SEC 5 */
.s5-info .h2 {font-size: 3.5vw;}
    .s5-phone {width: 79%; margin: 4% 0 0 0; left:41%}
    .s5-logo {width: 56%; top:5%; left:22%}
    .s5-vantay {width: 40%; top:15%; right:0}
    .s5-mausac {width: 50%; bottom:2%; left:3%}
    .s5-finger {width: 100%; top:15%; left:-80%; z-index: 5;}
        .s5-finger img {width: 55%}
    .phone-color span {padding-left: 4vw; line-height:3.3vw; position:relative; margin-bottom: 2vw;}
    .phone-color span::before {
        width: 3.3vw;
        height: 3.3vw;
    }
/** SEC 6 **/
.s6-info {width: 90%; left:5%; top:18%}
    .s6-phone {margin: 4% 0 5%;}
    .s6-func {margin-top: 10vw;}
    .func-list {width: 32%;}
    .func-list img {width: 40%;}
/** SEC 7 **/
.s7-ui-box {position: relative;}
    .s7-ui-box::after, .s7-ui-box::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 100%;
        top:0;
        z-index: 5;
        pointer-events: none;
    }
    .s7-ui-box::after {
        right:0;
        background: rgb(249,249,249);
        background: linear-gradient(90deg, rgba(249,249,249,0) 0%, rgba(249,249,249,0.75) 100%);
    }
    .s7-ui-box::before {
        left:0;
        background: rgb(249,249,249);
        background: linear-gradient(90deg, rgba(249,249,249,0.75) 0%, rgba(249,249,249,0) 100%);
    }
.s7-info {max-width: 90%;}
.s7-ui-slide {width: 40%;}
.cua-hang {max-width: 96%; margin: 3vw auto;}
    .cua-hang .h2 {font-size: 2.2vw;}
    .cua-hang::before, .cua-hang::after {width: 22%;}
    .cua-hang::before {
        border-top-left-radius:3vw;
        border-bottom-left-radius:3vw;
    }
    .cua-hang::after {
        border-top-right-radius:3vw;
        border-bottom-right-radius:3vw;
    }
    .cua-hang::after, .cua-hang::before {
        height: 83%;
        top:8.5%;
    }
    .rt-link img {max-height: 4vw;}
/** SEC 8 **/
#thong-so {padding: 0 4% 20px 7%;}
.ts-header {padding: 4vw 0 2vw; margin-bottom: 3vw;}
.ts-phone {width: 10%;}
.ts-headline {width: 88.5%; padding-left: 2vw;}
    .ts-headline .h2 {font-size: 3vw;}
    .xd-btn {font-size: 2.2vw;}
    .ts-info .h2 {font-size: 2.35vw;}
.ts-info .h2::before {width: 3vw; height: 3vw; left:-3.7vw; top:2vw}
.ts-info .xd-txt {font-size: 1.75vw;}
.ts-info-col1 {width: 55%;}
.ts-info-col2 {width: 45%;}
.ts-info {display: flex; flex-wrap: nowrap; justify-content: space-between;}

.kv-btn {margin-top: 4vw;}
.kv-btn .xd-btn {font-size: 3.5vw;}
#thong-tin .xd-note {font-size: 2vw;}
}

@media (min-width:1024px) {
    .xd-mb {display: none;}
    .xd-pc {display: block; margin: 0 auto;}
    .bh-list {font-size: 0.85vw;}
    .ts-list {font-size: 0.92vw;}
    .kv-phone, .kv-info {display: inline-block; vertical-align: middle;}
    .kv-phone {width:50%; padding-left: 4%;}
    .kv-info {width: 44%; padding-bottom: 3%;}
    .kv-phone-pic {width: 75%;}
    .slogan-pic {width: 76%;}
    .bh-list img,
    .ts-list img {width: 4vw;}
    .h2 {font-size: 1.75vw; padding: 0.9vw 0;}
    .s2-info {max-width: 60%;}
    .xd-txt {padding-bottom: 0.9vw; font-size: 1.05vw;}
    .s3-phone {width:17.657%; top:51%}
    .mah-pic {width:50.337%;}
    .s3-info .icons img {width: 48.2922%;}
    .pin-pic {width: 24.524%;}
    .s3-sac, .s3-pin {bottom: 32%;}
        .s3-info .h2 {padding: 0.4vw 0 0.8vw;}
/** Sec4 **/
    .cam-truoc-box, .cam-sau-box {display: flex; flex-wrap: nowrap; align-items: center}
    .cam-truoc .s4-info {order:2; width: 44%;}
    .cam-truoc .s4-phone {order:1; width: 44%; padding: 4% 0 0 5%;}
    .cam-truoc-pic {width: 70%;}
    .cam-1-pic {width: 40.249%;}
    .cam-2-pic {width: 34.397%;}
    .cam-sau .s4-info {order:2; width: 46%; padding: 0 4%;}
    .cam-sau .s4-phone {order:1; width: 54%; text-align: center; padding-top: 6%;}
    .cam-sau .s4-title {padding-left: 16%;}
    .slick-dots li {width:0.75vw; height:0.75vw}
    .slick-arrow {border:3px solid #000}

/** SEC 5 **/
    .s5-logo {width: 27%; top:35%; left:5%}
    .s5-vantay {width: 20%; top:51%; left:6%; text-align: right;}
    .s5-mausac {width: 30%; top:33%; right:5%}
    .s5-finger {width: 100%; top: -50%; right: -90%; z-index: 5; text-align: right;}
        .s5-finger img {width: 70%}
    .phone-color span {padding-left: 1.75vw; line-height:1.3vw; position:relative; margin-bottom: 0.75vw;}
    .phone-color span::before {
        width: 1.3vw;
        height: 1.3vw;
    }
    .s5-phone {transform: translate(-50%, -50%) scale(0.9, 0.9);}
/** Sec 6 **/
.func-list {width: 22%;}
    .func-list img {width: 32.435%; padding-bottom: 3px;}
    .s6-phone-pic {width: 85%;}
.ts-header {margin-bottom: 1vw;}
.ts-headline br {display: none;}
.ts-headline .xd-btn {float: right;}
.ts-info {display: inline-block; vertical-align: top;}
.ts-info:last-child {padding-left: 8vw;}
    .ts-info .xd-txt {font-size: 1vw;}
#cua-hang .h2 {font-size: 1.3vw;}
.s5-info .h2 {font-size: 1.5vw;}
.s5-vantay .xd-txt {margin-left: -1vw;}
}
.hd-prev {left:2vw;border-top-width:0; border-right-width:0;}
.hd-next {right:2vw;border-left-width:0; border-bottom-width:0;}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { 
    .s4-title {background: none; color:#7b7b7b}
 }

.u-header__section {
    background-color: #000 !important;
}